<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div><div class="adM">
</div><p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;line-height:115%">
<span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordial Saludo Señor(a)<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{data.reporteInicio.nombre}}</span></b><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A continuación se remite
</span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;el reporte de Inicio de Actividades para
<b>{{data.reporteInicio.nombre_cliente_val}}&nbsp;</b>con el cual se da inicio al proceso de Cambio de equipos del Servicio &nbsp;<b><span style="color:#1f497d">{{data.reporteInicio.servicio}}</span></b><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Este documento&nbsp; contiene las definiciones del servicio a modificar y los datos de contacto del Ingeniero encargado
 de la implementación de su servicio. Es de suma importancia que sea revisado y nos retroalimente la información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información contenida
 en este documento es importante que nos haga llegar sus inquietudes ya que el servicio contratado será entregado de acuerdo a la información que describimos a continuación.
<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SERVICIO A MODIFICAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1057" height="747" id="m_-4959303962172267528Imagen_x0020_1" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/cambio_equipo_servicio.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 969px; top: 1053.33px;"><div id=":7eu" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image001.png" data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div><div id=":7ev" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image001.png en Drive" data-tooltip-class="a1V" data-tooltip="Guardar en Drive"><div class="wtScjd J-J5-Ji aYr aQu"><div class="T-aT4" style="display: none;"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CARACTERISTICAS DEL SERVICIO A MODIFICAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<table border="0" cellspacing="0" cellpadding="0" width="762" style="width:571.65pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="309" valign="top" style="width:232.1pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">ENTREGABLE<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="453" colspan="3" valign="top" style="width:339.55pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DISEÑO ORIGINAL<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:16.45pt">
<td width="309" rowspan="5" valign="top" style="width:232.1pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:16.0pt;line-height:115%;color:black"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<i><span lang="ES" style="font-size:14.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CAMBIO DE EQUIPOS PARA EL SERVICIO {{ data.reporteInicio.servicio }}<span style="color:#1f497d"><u></u><u></u></span></span></i></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<i><span lang="ES">OTP: {{data.reporteInicio.otp }}<span style="color:#1f497d"><u></u><u></u></span></span></i></p>
</td>
<td width="453" colspan="3" valign="top" style="border-right:solid #c00000 1.0pt;border-bottom:solid #c00000 1.0pt">
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<span>Modificación del Tipo de Equipo<span style="color:black"><u></u><u></u></span></span></p>
</td>
</tr>
<tr style="height:8.0pt">
<td width="172" valign="top" style="width:129.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Dirección Sede
<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="2" valign="top" style="width:210.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u></u>{{data.reporteInicio.direccion }}&nbsp;<u></u></span></b></p>{{!-- {{data.reporteInicio.direccion_Sede --}}
</td>
</tr>
<tr style="height:13.5pt">
<td width="172" rowspan="2" valign="top" style="width:129.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Existen otros Servicios sobre el CPE<span style="color:black"><u></u><u></u></span></span></i></b></p>
</td>
<td width="140" valign="top" style="width:105.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: 
{{#ifCond expected=true val=data.reporteInicio.otros_servicios_CPE}}
    X
{{/ifCond}}&nbsp;<u></u><u></u></span></b></p>
</td>
<td width="140" rowspan="2" valign="top" style="width:105.3pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad: {{data.reporteInicio.cantidad}}<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:13.5pt">
<td width="140" valign="top" style="width:105.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No:
{{#ifCond expected=undefined val=data.reporteInicio.otros_servicios_CPE}}
  X
{{/ifCond}}&nbsp;</span></b></p>
{{#ifCond expected=false val=data.reporteInicio.otros_servicios_CPE}}
  X
{{/ifCond}}&nbsp;</span></b></p>
</td>
</tr>
<tr style="height:24.75pt">
<td width="453" colspan="3" valign="top" style="width:339.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:24.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Códigos de Servicio
</span></i></b><b><i><span lang="ES">en el CPE a Cambiar      {{data.reporteInicio.codigo_servicio_CPE}}<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></i></b></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A partir de hoy (<b>{{data.reporteInicio.fecha}}</b>) &nbsp;se da inicio al Proceso de Cambio de Equipo del Servicio<span style="color:#1f497d">.
</span>A continuación se detalla la secuencia de actividades<span style="color:#1f497d">.<u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span><img width="715" height="360" id="m_-4959303962172267528Imagen_x0020_3" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/actividades_cambio_equipos_servicio.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":7er" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image002.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":7es" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image002.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">De acuerdo a lo anterior le agradecemos nos confirme la siguiente información:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="687" style="width:515.55pt;border-collapse:collapse">
<tbody>
<tr style="height:30.5pt">
<td width="262" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">INFORMACIÓN A CONFIRMAR<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="426" colspan="4" valign="top" style="width:319.2pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DATOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="5" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:#bfbfbf;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Requiere que el Cambio de Equipos para su Servicio se ejecute en horario No Hábil o Fin de Semana &nbsp;?</span></i></b><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
<p class="MsoNormal"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SI: &nbsp;&nbsp;_____<u></u><u></u></span></b></p>
<p class="MsoNormal"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">NO: _____<u></u><u></u></span></b></p>
<p class="MsoNormal"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr>
<td width="262" style="width:196.35pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="86" style="width:64.45pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.65pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" style="width:101.85pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="262" style="width:196.35pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="86" style="width:64.45pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.65pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" style="width:101.85pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Entrega del Cambio de Equipos<span style="color:#1f497d"> </span>&nbsp;de su Servicio<span style="color:#1f497d">
</span></i></b>es <b>{{data.reporteInicio.fecha_entrega_ampliacion}}<i></i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias.&nbsp;{{!-- {{data.reporteInicio.fecha_entrega --}}
<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Aceptación o Cierre </i></b>corresponde a la fecha en que Claro entrega el Servicio y es aceptado a satisfacción.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nuestro objetivo es hacer el cambio del equipo para el servicio contratado a satisfacción de sus necesidades, por eso es fundamental que usted conozca las etapas básicas<span style="color:#1f497d">,</span>
 el impacto y Plan de Mitigación definido para cada una.</span><span><u></u><u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="718" style="width:538.25pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">RIESGOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="274" valign="top" style="width:205.5pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">PLAN DE MITIGACIÓN<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en el Traslado por Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt"><img width="420" height="110" id="m_-4959303962172267528Imagen_x0020_5" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenA.png" alt="cid:image008.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede donde se va a realizar la Instalación.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirmación de la documentación que debe portar el personal de Claro para efectuar las actividades.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en el Traslado por falta de &nbsp;confirmación de la información solicitada<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="187" height="117" id="m_-4959303962172267528_x0000_i1034" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenC.png" alt="cid:image010.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Respuesta a la información solicitada en este correo máximo 8 días después de la fecha reportada como inicio de actividades.<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la adecuación de la sede con los requisitos mínimos de condiciones eléctricas y ambientales para instalar los equipos.<u></u><u></u></span></i></p>
<p class="MsoNormal"><span><img width="369" height="126" id="m_-4959303962172267528_x0000_i1035" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenD.png" alt="cid:image012.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Las condiciones de instalación deben estar listas a más tardar el día de la
<b>Visita de habilitación de Medio.</b><u></u><u></u></span></i></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="595" style="width:446.15pt;border-collapse:collapse">
 <tbody><tr style="height:29.05pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN CONTACTO<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 1<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:<span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="151" colspan="2" valign="top" style="width:113pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="161" colspan="2" valign="top" style="width:120.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1_tel}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero1_email}}" target="_blank">{{data.reporteInicio.ingeniero1_email}}</a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 2<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2_tel}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero2_email}}" target="_blank">{{data.reporteInicio.ingeniero2_email}}<wbr></a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 3</span></b><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3_tel  }}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero3_email}}" target="_blank">{{data.reporteInicio.ingeniero3_email}}</a></span></span></b></p>
 </td>
 </tr>
 </tbody></table>
<p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Conmutador: Bogotá: 7480000 - 7500300, Cali: 4880000, Medellín: 6041000, B/quilla: 3870000<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
AVISO DE CONFIDENCIALIDAD: </span></b><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia,
 revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Telmex Colombia S.A está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo
 al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos
 antes mencionados, Telmex Colombia S.A tendrá derecho a los daños y perjuicios que esto le cause.<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span></b><b><span lang="EN-US" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">CONFIDENTIALITY NOTICE:
</span></b><b><span lang="EN-US" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
This e-mail message including attachments, if any, is intended only for the person or entity to which it is addressed and may contain confidential and /or privileged material. Any review, use, disclosure or distribution of such confidential information without
 the written authorization of Telmex Colombia S.A is prohibited. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies of the original message. By receiving this e-mail you acknowledge that any breach by you
 and/or your representatives of the above provisions may entitle Telmex Colombia S.A to seek for damages.</span></b><span lang="EN-US"><u></u><u></u></span></p><div class="yj6qo"></div><div class="adL">
</div></div>
</body>
</html>