<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div><div class="adM">
</div><p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;line-height:115%">
<span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordial Saludo Señor(a)<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{data.reporteInicio.nombre}}</span></b><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A continuación se remite
</span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;el reporte de Inicio de Actividades para
<b>{{data.reporteInicio.nombre_cliente_val}}&nbsp; </b>con el cual se da inicio al proceso de Cambio del Servicio &nbsp;<b><span style="color:#1f497d">{{data.reporteInicio.servicio}}</span></b><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Este documento&nbsp; contiene las definiciones del servicio a modificar y los datos de contacto del Ingeniero encargado
 de la implementación de su servicio. Es de suma importancia que sea revisado y nos retroalimente la información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información contenida
 en este documento es importante que nos haga llegar sus inquietudes ya que el servicio contratado será entregado de acuerdo a la información que describimos a continuación.
<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SERVICIO A MODIFICAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1061" height="748" id="m_6409353477109457392Imagen_x0020_1" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/servicio_cambio_serv_telf_pub_lineaSipApbx_dist_lineSip.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 973px; top: 1049.33px;"><div id=":7yz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image002.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":7z0" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image002.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CARACTERISTICAS DEL SERVICIO CONTRATADO<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<div id=":154" class="Ar Au" style="display: block;"><div id=":150" class="Am Al editable LW-avf tS-tW" hidefocus="true" aria-label="Cuerpo del mensaje" g_editable="true" role="textbox" aria-multiline="true" contenteditable="true" tabindex="1" style="direction: ltr; min-height: 322px;" itacorner="6,7:1,1,0,0"><table class="gmail-MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="762" style="width: 571.65pt; border-collapse: collapse;">
 <tbody><tr style="height: 29.05pt;">
  <td width="309" colspan="3" valign="top" style="width: 232.1pt; border: 1pt solid rgb(192, 0, 0); background: rgb(192, 0, 0); padding: 0cm 5.4pt; height: 29.05pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">ENTREGABLE</span></b></p>
  <div class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">
  <hr size="2" width="100%" align="center">
  </span></b></div>
  </td>
  <td width="453" colspan="5" valign="top" style="width: 339.55pt; border-top: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-image: initial; border-left: none; background: rgb(192, 0, 0); padding: 0cm 5.4pt; height: 29.05pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">DISEÑO ORIGINAL</span></b></p>
  <div class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">
  <hr size="2" width="100%" align="center">
  </span></b></div>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="309" colspan="3" rowspan="6" valign="top" style="width: 232.1pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" align="center" style="margin: 0cm 0cm 10pt; text-align: center; line-height: 115%; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="font-size: 16pt; line-height: 115%; color: black;">&nbsp;</span></i></b></p>
  <p class="MsoNormal" align="center" style="margin: 0cm 0cm 10pt; text-align: center; line-height: 115%; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="font-size: 12pt; line-height: 115%; font-family: Arial, sans-serif;">TELEFONIA
  FIJA </span></i></b></p>
  <p class="MsoNormal" align="center" style="margin: 0cm 0cm 10pt; text-align: center; line-height: 115%; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="font-size: 12pt; line-height: 115%; font-family: Arial, sans-serif;">PBX
  DISTRIBUIDA LINEA SIP</span></i></b><b><i><span style="color: rgb(31, 73, 125);"></span></i></b></p>
  </td>
  <td width="453" colspan="5" valign="top" style="width: 339.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" style="line-height: 120%; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="color: black;">DESCRIPCIÓN DE LA SOLUCIÓN:</span></i></b><b><span style="color: black;"> &nbsp;</span></b>Cambio de Servicio Telefonia Publica Línea
  SIP a PBX Distribuida Línea SIP<span style="color: rgb(31, 73, 125);">.</span><b><span style="color: black;"></span></b></p>
  </td>
 </tr>
 <tr style="height: 8.05pt;">
  <td width="155" colspan="2" valign="top" style="width: 116pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(217, 217, 217); padding: 0cm 5.4pt; height: 8.05pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="color: black;">Dirección Destino</span></i></b></p>
  </td>
  <td width="298" colspan="3" valign="top" style="width: 223.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 8.05pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="color: black;">&nbsp;{{data.reporteInicio.direccion}}</span></b></p>{{!-- {{data.reporteInicio.direccion_destino --}}
  </td>
 </tr>
 <tr style="height: 8pt;">
  <td width="155" colspan="2" valign="top" style="width: 116pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(217, 217, 217); padding: 0cm 5.4pt; height: 8pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i>Cantidad de DID<span style="color: black;"></span></i></b></p>
  </td>
  <td width="298" colspan="3" valign="top" style="width: 223.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 8pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="color: black;">&nbsp;{{data.reporteInicio.cant_DID}}</span></b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="155" colspan="2" valign="top" style="width: 116pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(217, 217, 217); padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="color: black;">Interfaz de Entrega</span></i></b></p>
  </td>
  <td width="298" colspan="3" valign="top" style="width: 223.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>RJ 45<span style="color: black;"></span></b></p>
  </td>
 </tr>
 <tr style="height: 16.4pt;">
  <td width="155" colspan="2" valign="top" style="width: 116pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(217, 217, 217); padding: 0cm 5.4pt; height: 16.4pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="color: black;">Disponibilidad</span></i></b></p>
  </td>
  <td width="298" colspan="3" valign="top" style="width: 223.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 16.4pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>99.7 % &nbsp;<span style="color: black;"></span></b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="155" colspan="2" valign="top" style="width: 116pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(217, 217, 217); padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i><span style="color: black;">Equipos a Instalar</span></i></b></p>
  </td>
  <td width="298" colspan="3" valign="top" style="width: 223.55pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Conversor de Medio + 1 Router <span style="color: black;"></span></b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="762" colspan="8" style="width: 571.65pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; background: rgb(217, 217, 217); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>A continuación se confirma con una (X) las ciudades para las cuales se
  solicitó adicionar Numeración de acuerdo al contrato</b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="127" style="width: 95.25pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Bogota: 
    {{#includeElement expected="Bogota" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Yopal:
    {{#includeElement expected="Yopal" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p> 
  </td>
  <td width="127" colspan="2" style="width: 95.25pt; border:1pt solid rgb(192, 0, 0); border-image: initial; border-bottom: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Neiva:
    {{#includeElement expected="Neiva" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Montería:
    {{#includeElement expected="Montería" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.25pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Manizales:
    {{#includeElement expected="Manizales" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Sogamoso:
    {{#includeElement expected="Sogamoso" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="127" style="width: 95.25pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Tunja:
    {{#includeElement expected="Tunja" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Cali:
    {{#includeElement expected="Cali" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.25pt; border: 1pt solid rgb(192, 0, 0); border-image: initial; border-bottom: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Medellín:
    {{#includeElement expected="Medellín" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Valledupar:
    {{#includeElement expected="Valledeupar" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.25pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Ibagué:
    {{#includeElement expected="Ibagué" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Flandes:
    {{#includeElement expected="Flandes" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="127" style="width: 95.25pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Villavicencio:
    {{#includeElement expected="Villavicencio" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Buenaventura:
    {{#includeElement expected="Buenaventura" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.25pt; border:1pt solid rgb(192, 0, 0); border-image: initial; border-bottom: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Barranquilla:
    {{#includeElement expected="Barranquilla" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Sincelejo:
    {{#includeElement expected="Sincelejo" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.25pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Cúcuta:
    {{#includeElement expected="Cúcuta" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Rivera:
    {{#includeElement expected="Rivera" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="127" style="width: 95.25pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Facatativá:
    {{#includeElement expected="Facatativá" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Pasto:
    {{#includeElement expected="Pasto" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.25pt; border:1pt solid rgb(192, 0, 0); border-image: initial; border-bottom: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Cartagena:
    {{#includeElement expected="Cartagena" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Pereira:
    {{#includeElement expected="Pereira" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.25pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Bucaramanga:
    {{#includeElement expected="Bucaramanga" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Aipe:
    {{#includeElement expected="Aipe" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
 </tr>
 <tr style="height: 16.45pt;">
  <td width="127" style="width: 95.25pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Girardot:
    {{#includeElement expected="Girardot" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Popayán:
    {{#includeElement expected="Popayán" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.25pt; border:1pt solid rgb(192, 0, 0); border-image: initial; border-bottom: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Santa Marta:
    {{#includeElement expected="Santa Marta" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" colspan="2" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Armenia:
    {{#includeElement expected="Armenia" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.25pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Duitama:
    {{#includeElement expected="Duitama" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
  <td width="127" style="width: 95.3pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); padding: 0cm; height: 16.45pt;">
  <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Lebrija:
    {{#includeElement expected="Lebrija" val=data.reporteInicio.ciudades}}
     X
    {{/includeElement}}&nbsp;</b></p>
  </td>
 </tr>
</tbody></table></div></div>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A partir de hoy (<b>{{data.reporteInicio.fecha}}</b>) &nbsp;se da inicio al Proceso de Cambio<span style="color:#1f497d">
</span>&nbsp;de Servicio<span style="color:#1f497d">. </span>A continuación se detalla la secuencia de actividades<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span><img width="710" height="357" id="m_6409353477109457392Imagen_x0020_3" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/actividades_cambio_serv_telf_pub_lineaSipApbx_dist_lineSip.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 622px; top: 1890.33px;"><div id=":7yw" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image008.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":7yx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image008.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">De acuerdo a lo anterior le agradecemos nos confirme la siguiente información:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="687" style="width:515.55pt;border-collapse:collapse">
<tbody>
<tr style="height:30.5pt">
<td width="262" colspan="2" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">INFORMACIÓN A CONFIRMAR<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="426" colspan="4" valign="top" style="width:319.25pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DATOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:6.75pt">
<td width="262" colspan="2" rowspan="4" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Documentación Necesaria para la realización de las visitas en su sede.</span></i><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Parafiscales<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.65pt">
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:6.65pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Certificación Alturas<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.65pt">
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:6.65pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cursos Especiales<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.65pt">
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:6.65pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">EPP<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:13.4pt">
<td width="262" colspan="2" rowspan="2" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
<p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Para la Visita &nbsp;1 y 2 Cotización de obra civil y Ejecución de Obra Civil requiere:<u></u><u></u></span></i></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Acompañamiento de Personal de Mantenimiento de su sede<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.4pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:13.4pt">
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Horario Especial<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.4pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:8.9pt">
<td width="262" colspan="2" rowspan="3" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.9pt">
<p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirme la existencia de las siguientes condiciones:
<u></u><u></u></span></i></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:8.9pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Rack<u></u><u></u></span></b></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">(Requiere Bandeja para la instalación de los equipos)<u></u><u></u></span></i></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:8.9pt">
<td width="213" colspan="2" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:8.9pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Tomas reguladas
<u></u><u></u></span></b></p>
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">(V n-t &lt; 1 V)</span></b><b><i><span lang="ES" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:8.9pt">
<td width="213" colspan="2" valign="top" style="width:159.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:8.9pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Planta Telefónica IP<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="2" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:#bfbfbf;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CATEGORIAS PERMISOS PARA LAS LLAMADAS<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">El Servicio de PBX Distribuida se activa con PERMISOS DE MARCACIÓN solo LOCAL.
<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Si usted requiere habilitar otros permisos de marcación debe confirmar por escrito la solicitud. En este caso
 se verificaran los documentos de Soporte de la Venta y se habilitaran los permisos si en los documentos se hizo esta solicitud.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Si en los documentos de Soporte se solicitó restringir estos permisos y usted requiere habilitarlos, se debe
 enviar una solicitud por escrito donde se especifique el tipo de permisos a habilitar y durante la entrega de servicio se le solicitara firmar este cambio en el requerimiento dentro del Acta de Entrega del Servicio.</span><b><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Por favor confirme si requiere HABILITAR &nbsp;otros Permisos de Marcación enviando un correo electrónico de Autorización a su Ingeniero
 de Implementación de acuerdo a lo siguiente:<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Subjet:
</span></i></b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Autorización Habilitación Permisos de Marcación<b><i>
<u></u><u></u></i></b></span></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cuerpo del Correo: &nbsp;</span></i></b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Autorizo
 la Habilitación de los siguientes Permisos de Marcación y de los costos a que haya lugar por la marcación a estos destinos sin el uso de la marcación estándar entregada por Claro para el uso del Servicio de PBX Distribuida.</span><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
</td>
</tr>
<tr style="height:3.3pt">
<td width="198" valign="top" style="width:148.45pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:3.3pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Nacional<u></u><u></u></span></i></b></p>
</td>
<td width="489" colspan="5" valign="top" style="width:367.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:3.3pt">
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Habilitar permisos de Salida de Llamadas<u></u><u></u></span></p>
</td>
</tr>
<tr style="height:3.15pt">
<td width="198" valign="top" style="width:148.45pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:3.15pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Internacional<u></u><u></u></span></i></b></p>
</td>
<td width="489" colspan="5" valign="top" style="width:367.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:3.15pt">
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Habilitar permisos de Salida de Llamadas<u></u><u></u></span></p>
</td>
</tr>
<tr style="height:3.15pt">
<td width="198" valign="top" style="width:148.45pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:3.15pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Móviles<u></u><u></u></span></i></b></p>
</td>
<td width="489" colspan="5" valign="top" style="width:367.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:3.15pt">
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Habilitar permisos de Salida de Llamadas<u></u><u></u></span></p>
</td>
</tr>
<tr style="height:3.15pt">
<td width="198" valign="top" style="width:148.45pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:3.15pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Local Extendida<u></u><u></u></span></i></b></p>
</td>
<td width="489" colspan="5" valign="top" style="width:367.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:3.15pt">
<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Habilitar permisos de Salida de Llamadas<u></u><u></u></span></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:#a6a6a6;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">INFORMACIÓN IMPORTANTE SOBRE SU PLANTA TELEFONICA IP<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:4.7pt">
<td width="262" colspan="2" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Fabricante de la Planta Telefónica</span></i></b><b><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="127" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
<td width="163" colspan="2" valign="top" style="width:122.15pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Modelo Planta Telefónica</span></i></b><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="136" valign="top" style="width:101.8pt;border:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
</tr>
<tr style="height:4.7pt">
<td width="262" colspan="2" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Interfaz de Entrega</span></i></b><b><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="127" valign="top" style="border:solid #c00000 1.0pt">
<p class="MsoNormal" align="center" style="text-align:center"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">RJ 45</span></i><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></p>
</td>
<td width="163" colspan="2" valign="top" style="width:122.15pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Versión de Software</span></i></b><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="136" valign="top" style="width:101.8pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
</tr>
<tr style="height:14.6pt">
<td width="262" colspan="2" valign="top" style="width:196.3pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:14.6pt">
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Requiere una IP<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Diferente a la asignada por Defecto</span></i></b><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="127" valign="top" style="border:solid #c00000 1.0pt">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SI:___&nbsp;&nbsp;&nbsp; NO:___<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">IP a Configurar:</span></i><i><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
</td>
<td width="163" colspan="2" valign="top" style="width:122.15pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:14.6pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Administrador de la Planta Telefónica</span></i></b><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="136" valign="top" style="width:101.8pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:14.6pt">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
</tr>
<tr style="height:14.6pt">
<td width="687" colspan="6" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:14.6pt">
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<b><i><u><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Por favor informe lo siguiente al administrador de Su Planta Telefónica:</span></u></i></b><b><i><u><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><u></u></span></u></i></b></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<b><i><u><span style="color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<b><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Actualmente para integrar el Servicio de Telefonia Publica Línea SIP a la Planta Telefónica usted debe tener configurada una de las siguientes opciones
 de Marcación: <u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">1. Para la Entrada de llamadas la numeración asignada por
</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#c0504d">Claro</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">
 está configurada a 7 Dígitos. Para la Salida de llamadas el Número de Origen - Número A (Numeración Asignada por Claro) está configurado a 8 Digitas (Indicativo + Numeración asignada por Claro) y el Numero Destino - Número B de la Marcación a 7 Dígitos.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">2. Para la Entrada de llamadas la numeración asignada por
</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#c0504d">Claro</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">
 está configurada a 10 Dígitos. Para la Salida de llamadas el Número de Origen - Número A (Numeración Asignada por Claro) está configurado a 10 Dígitos (</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">57+Indicativo
 + <span style="color:black">Numeración asignada por Claro) y el Numero Destino - Número B de la Marcación a 7 Dígitos.<u></u><u></u></span></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">3.
<i>Para la Entrada de llamadas la numeración asignada por </i></span><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#c0504d">Claro</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">
 está configurada a <b>7 Dígitos. &nbsp;</b>Para la Salida de llamadas el Número de Origen - Número A (Numeración Asignada por Claro) está configurado a
<b>7 Dígitos</b> ( Numeración asignada por Claro) y el Numero Destino - Número B de la Marcación a
<b>7 Dígitos</b>.<b><u></u><u></u></b></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<b><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">En su Planta Telefónica se debe realizar la siguiente configuración para poder Integrar el Nuevo Servicio de PBX Distribuida:</span></i></b><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-left:18.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:9.0pt;line-height:120%;font-family:Wingdings"><span>ü<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Configurar la Nueva Numeración asignada para cada ciudad.<u></u><u></u></span></i></p>
<p style="margin-left:18.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:9.0pt;line-height:120%;font-family:Wingdings"><span>ü<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Si tiene configurada en su Planta la
<b>OPCIÓN 1</b>, debe realizar la configuración de la marcación Actual para cada uno de los DID asignados por Claro para cada ciudad.<u></u><u></u></span></i></p>
<p style="margin-left:18.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:9.0pt;line-height:120%;font-family:Wingdings"><span>ü<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Si tiene configurada en su Planta la
<b>OPCIÓN 2</b>, por favor ejecute lo siguiente:<u></u><u></u></span></i></p>
<p style="text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cambiar configuración de la IP de la Planta con el nuevo direccionamiento LAN asignado por Claro del segmento (10.11.x.x/30)</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
<p style="text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Registrar su planta a un nuevo servidor Bogota 10.11.0.9 o Medellín 10.11.200.9</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
<p style="margin-bottom:12.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cambia la Opción &nbsp;de Marcación de acuerdo a lo siguiente:<br>
&nbsp;&nbsp;- Configuración de la numeración asignada por claro para la entrada de llamadas a 7 dígitos&nbsp;<br>
&nbsp;&nbsp;- Configuración de salida de llamadas el ANI (número de origen) debe enviarlo a 8 dígitos y el destino a donde llama a 7 dígitos. La opción de Marcación se debe ejecutar por cada DID asociado a cada ciudad.</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
<p style="margin-left:18.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:9.0pt;line-height:120%;font-family:Wingdings"><span>ü<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Si tiene configurada en su Planta la
<b>OPCIÓN 3</b>, por favor ejecute lo siguiente: <u></u><u></u></span></i></p>
<p style="text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cambiar configuración de la IP de la Planta con el nuevo direccionamiento LAN asignado por Claro del Segmento (10.11.x.x/30)</span></i><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><u></u></span></i></p>
<p style="text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Registrar su planta a un nuevo servidor Bogota 10.11.0.9 o Medellín 10.11.200.9</span></i><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><u></u></span></i></p>
<p style="margin-bottom:12.0pt;text-align:justify;line-height:120%;text-autospace:none">
<u></u><span style="font-size:10.0pt;line-height:120%;font-family:Wingdings;color:black"><span>§<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;
</span></span></span><u></u><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cambia la opción de Marcación de acuerdo a lo siguiente:<br>
&nbsp;&nbsp;- Configuración de la numeración asignada por claro para la entrada de llamadas a 7 dígitos&nbsp;<br>
&nbsp;&nbsp;- Configuración de salida de llamadas el ANI (número de origen) debe enviarlo a 8 dígitos y el destino a donde llama a 7 dígitos. La opción de Marcación se debe ejecutar por cada DID asociado a cada ciudad.</span></i><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">- Claro asigna por defecto la dirección
<b>10.11.X.X/30</b> &nbsp;para la Planta. Si se requiera asignar un direccionamiento diferente por favor infórmenos la necesidad y se procederá a configurar un NAT para poder hacer la traslación del direccionamiento asignado por Claro al direccionamiento que necesita
 el cliente en su planta. <u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">La Troncal IP se debe registrar contra una IP de nuestro Servidor de acuerdo a lo siguiente: Para ciudades de:&nbsp; Antioquia, eje cafetero,
 Costa atlántico, norte Santander y Santander<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">SBC de Medellín: IP
</span></i><i><span lang="ES" style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">10.11.200.9</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Para ciudades: zona centro y sur del país.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify;line-height:120%;text-autospace:none">
<i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">SBC de Bogotá:
</span></i><i><span lang="ES" style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">10.11.0.9</span></i><i><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></i></p>
</td>
</tr>
<tr>
<td width="262" colspan="2" style="width:196.3pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.3pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="86" style="width:64.45pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.7pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" style="width:101.8pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="198" style="width:148.5pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="64" style="width:48.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="86" style="width:64.5pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" style="width:102.0pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><i><u><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Para hacer uso del Servicio entregado por
<b><span style="color:#c00000">Claro </span></b>es indispensable que cuente una </span>
<span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">a
<b><u>Planta Telefónica IP.</u></b><i><u> <u></u><u></u></u></i></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Entrega de su servicio</i></b> &nbsp;es <b><i>{{data.reporteInicio.fecha_entrega_ampliacion}}</i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias para la ejecución.&nbsp;{{!-- {{data.fecha --}}
<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de inicio de Facturación</i></b> corresponde a la fecha en que Claro entrega el Servicio y es aceptado a satisfacción.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nuestro objetivo es hacer la entrega del Servicio contratado a satisfacción de su solución, por eso es fundamental que usted conozca las etapas básicas y el impacto y
 Plan de Mitigación definido para cada una.</span><span style="color:#1f497d"><u></u><u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="746" style="width:559.55pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">RIESGOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="302" valign="top" style="width:8.0cm;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">PLAN DE MITIGACIÓN<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la instalación por Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt"><img width="420" height="110" id="m_6409353477109457392Imagen_x0020_5" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenA.png" alt="cid:image008.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="302" valign="top" style="width:8.0cm;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede donde se va a realizar la Instalación.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirmación de la documentación que debe portar el personal de Claro para efectuar las actividades.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de &nbsp;envió de la información técnica de la sede para la configuración del servicio.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="187" height="117" id="m_6409353477109457392_x0000_i1034" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenC.png" alt="cid:image010.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="302" valign="top" style="width:8.0cm;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Respuesta a la información solicitada en este correo máximo 8 días después de la fecha reportada como inicio de actividades.<u></u><u></u></span></i></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="595" style="width:446.15pt;border-collapse:collapse">
 <tbody><tr style="height:29.05pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN CONTACTO<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 1<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:<span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1}}</span></span></b></p>{{!-- {{data.ingeniero1 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="151" colspan="2" valign="top" style="width:113pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="161" colspan="2" valign="top" style="width:120.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1_tel}}</span></span></b></p>{{!-- {{data.ingeniero1_tel --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero1_email}}" target="_blank">{{data.reporteInicio.ingeniero1_email}}</a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 2<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2}}</span></span></b></p>{{!-- {{data.ingeniero2 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2_tel}}</span></span></b></p>{{!-- {{data.ingeniero2_tel --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero2_email}}" target="_blank">{{data.reporteInicio.ingeniero2_email}}<wbr></a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 3</span></b><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3}}</span></span></b></p>{{!-- {{data.ingeniero3 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3_tel  }}</span></span></b></p>{{!-- {{data.ingeniero3_tel   --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero3_email}}" target="_blank">{{data.reporteInicio.ingeniero3_email}}</a></span></span></b></p>
 </td>
 </tr>
 </tbody></table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES-MX"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%"><span lang="ES-MX" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordialmente<u></u><u></u></span></p>
<p class="MsoNormal" style="margin-bottom:12.0pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="800" style="width:600.0pt">
<tbody>
<tr style="height:92.25pt">
<td width="120" style="width:90.0pt;padding:0cm 0cm 0cm 0cm;height:92.25pt">
<p class="MsoNormal"></p></td></tr></tbody></table></div>



















</body>
</html>