<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Cordial Saludo {{data.nombre}}</span></p>
<!--<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Señor(a):</span></p>
<p class="x_MsoNormal" style="text-align:justify"><strong><span style="font-family: Arial, sans-serif, serif, EmojiFont;">' . $senior . '</span></strong></p>-->
<p class="x_MsoNormal" style="text-align:justify"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Comprometidos con el servicio y el cumplimiento de sus solicitudes me permito notificar los avances de los asuntos en curso. Es de suma importancia que sea revisado y nos retroalimente con &nbsp;sus comentarios, ya que al término de 2 días hábiles este reporte se dará por aceptado.</span></p>
<p class="x_MsoNormal">&nbsp;</p>

<div dir="ltr">
<table class="x_m_-1360814042998563018MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="1660" style="width: 829.95pt; border-collapse: collapse; transform: scale(0.779982, 0.779982); transform-origin: left top;" min-scale="0.7799819657348963">
    <tbody>
        <tr style="height:45.0pt">
            <td width="156" nowrap="" style="width:78.0pt; border:solid windowtext 1.0pt; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">OT
                <u></u><u></u></span></b></p>
            </td>
            <td width="154" nowrap="" style="width:77.0pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">CODIGO SERVICIO &nbsp;<u></u><u></u></span></b></p>
            </td>
            <td width="124" style="width:62.05pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">CIUDAD / MUNICIPIO
            <u></u><u></u></span></b></p>
            </td>
            <td width="218" nowrap="" style="width:108.75pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">DIRECCIÓN
                <u></u><u></u></span></b></p>
            </td>
            <td width="150" nowrap="" style="width:75.0pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">VOC
                <u></u><u></u></span></b></p>
            </td>
            <td width="170" nowrap="" style="width:85.15pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">EOC<u></u><u></u></span></b></p>
            </td>
            <td width="150" nowrap="" style="width:75.0pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">EM<u></u><u></u></span></b></p>
            </td>
            <td width="178" nowrap="" style="width:89.0pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">Entrega servicio<u></u><u></u></span></b></p>
            </td>
            <td width="360" nowrap="" style="width:180.0pt; border:solid windowtext 1.0pt; border-left:none; background:#c00000; padding:0cm 3.5pt 0cm 3.5pt; height:45.0pt">
                <p class="x_MsoNormal" align="center" style="text-align:center"><b><span style="font-size:10.0pt; font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; color:white">OBSERVACIONES
                <u></u><u></u></span></b></p>
            </td>
        </tr>

{{{template}}}
</tbody>
</table>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;"><strong>Nota: La fecha de entrega del servicio esta sujeta a cambios en caso de tener algún inconveniente o adelantos en el proceso de instalación.</strong></span></p>

<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(31, 73, 125);">&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>

<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(31, 73, 125);">&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">De acuerdo a lo anterior, nos permitimos informar:</span></p>
<div dir="ltr">
    <ul style="font-family:Calibri,Helvetica,sans-serif; margin-bottom:0cm; ">
        <li>
            <span style="font-size:10.0pt; color:black; border:none windowtext 1.0pt; padding:0cm">
                {{data.observaciones}}
            </span>
        </li>
    </ul>
</div>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>

<p  style="margin-right:0cm; margin-left:0cm; font-size:12pt; font-family:&quot;Times New Roman&quot;,serif; margin:0cm; margin-bottom:.0001pt; text-align:left">
    <b style="font-size:12pt; font-style:inherit; font-variant-ligatures:inherit; font-variant-caps:inherit">
        <span style="font-size:14.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">
            <img src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteActualizacion/linea_roja.png" alt="linea roja" style="width: 100%;" height="10">
        </span>
    </b><br>
</p>
<p  style="margin-right:0cm; margin-left:0cm; font-size:12pt; font-family:&quot;Times New Roman&quot;,serif; margin:0cm; margin-bottom:.0001pt; margin-left:25%; text-align:left">
    <span style="z-index:251659264; left:0px; margin-top:29px; width:760px; height:7px"></span>
    <b>
        <span style="font-size:14.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">ACTIVIDADES DE INSTALACION DE SU SERVICIO</span>
    </b>
</p>
<p  style="margin-right:0cm; margin-left:0cm; font-size:12pt; font-family:&quot;Times New Roman&quot;,serif; margin:0cm; margin-bottom:.0001pt; text-align:left">
    <b style="font-size:12pt; font-style:inherit; font-variant-ligatures:inherit; font-variant-caps:inherit">
        <span style="font-size:14.0pt; font-family:&quot;Arial Narrow&quot;,sans-serif">
            <img src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteActualizacion/linea_roja.png"  alt="linea roja" style="width: 100%;" height="10">
        </span>
    </b><br>
</p>

{{{timeline}}}


<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Durante todo el Proceso de Instalación puede contactar a:</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>
<p class="x_MsoNormal"><strong><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Nivel de Contacto 1:</span></strong><span style="font-family: Arial, sans-serif, serif, EmojiFont;"> Para cualquier duda o inquietud sobre el proceso.</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Ingeniero Implementación Responsable Cuenta: &nbsp;{{data.contacto.nombre}}</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Ingeniero Aprovisionamiento Estándar</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Celular: </span><span style="font-family: Arial, sans-serif, serif, EmojiFont;">{{data.contacto.telefono}}</span><span style="font-family: Arial, sans-serif, serif, EmojiFont;"></span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Correo electrónico: </span><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(79, 129, 189);"><a href="mailto:{{data.contacto.email}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#4F81BD">{{data.contacto.email}}</span></a></span><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: black;">&nbsp;</span><span style="font-family: Arial, sans-serif, serif, EmojiFont;"></span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>


<p class="m_-5751456617445139844xmsonormal" style="text-align:justify"><strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nivel de Contacto 2:</span></strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> En caso de que no se obtenga respuesta por parte del Nivel de Contacto &nbsp;1.</span><u></u><u></u></p>

<p class="m_-5751456617445139844xmsonormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Coordinador Estándar: <span style="color:#1f497d">&nbsp;</span>Melani Gisella Viveros Moreno &nbsp;</span><u></u><u></u></p>
<p class="MsoNormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Celular:</span> 3102129290<u></u><u></u></p>
<p class="m_-5751456617445139844xmsonormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Correo: <span style="color:#4f81bd"> <a href="mailto:melani.viverosm.ext@claro.com.co" target="_blank"><span style="color:#4f81bd">melani.viverosm.ext@claro.<wbr>com.co</span></a> </span></span><u></u><u></u></p>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<p class="m_-5751456617445139844xmsonormal" style="text-align:justify"><strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nivel de Contacto 3:</span></strong><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"> En caso de que no se obtenga respuesta por parte del Nivel de Contacto &nbsp;1.</span><u></u><u></u></p>
<p class="m_-5751456617445139844xmsonormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Coordinador Estándar: &nbsp;Cristian Camilo Ramirez Ramirez<u></u><u></u></span></p>
<p class="MsoNormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Celular:</span> 3102852816<u></u><u></u></p>
<p class="m_-5751456617445139844xmsonormal"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Correo: <span style="color:#4f81bd"> <a href="mailto:cristian.ramirezr.ext@claro.com.co" target="_blank"><span style="color:#4f81bd">cristian.ramirezr.ext@claro.<wbr>com.co</span></a> </span></span><u></u><u></u></p>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p>

<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont; color: rgb(31, 73, 125);">&nbsp;</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">Gracias por la atención prestada y quedo atento a sus comentarios.</span></p>
<p class="x_MsoNormal"><span style="font-family: Arial, sans-serif, serif, EmojiFont;">&nbsp;</span></p>