<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div><div class="adM">
</div><p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;line-height:115%">
<span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordial Saludo Señor(a)<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{data.form.initialReport.fullName}}</span></b><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A continuación se remite
</span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;el reporte de Inicio de Actividades para
<b>{{data.form.initialReport.client}}&nbsp; </b>con el cual se da inicio al proceso de Instalación del Servicio &nbsp;<b><span style="color:#1f497d">{{data.serviceType}}</span></b><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Este documento&nbsp; contiene las definiciones del servicio a instalar y los datos de contacto del Ingeniero encargado
 de la implementación de su servicio. Es de suma importancia que sea revisado y nos retroalimente la información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información contenida
 en este documento es importante que nos haga llegar sus inquietudes ya que el servicio contratado será entregado de acuerdo a la información que describimos a continuación.
<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SERVICIO A INSTALAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1064" height="726" id="m_-960622316391375599Imagen_x0020_1" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/servicio_telefonia_PublicaBasica_internetDedicado.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 976px; top: 983.312px;"><div id=":1g9" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image003.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1ga" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image003.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CARACTERISTICAS DEL SERVICIO CONTRATADO<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<table border="0" cellspacing="0" cellpadding="0" width="762" style="width:571.65pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
  <td width="309" valign="top" style="width:232.1pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">ENTREGABLE<u></u><u></u></span></b></p>
    <div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
    <hr size="2" width="100%" align="center">
    </span></b></div>
  </td>
  <td width="453" colspan="4" valign="top" style="width:339.55pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DISEÑO ORIGINAL<u></u><u></u></span></b></p>
    <div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
    <hr size="2" width="100%" align="center">
    </span></b></div>
  </td>
</tr>
<tr style="height:16.45pt">
  <td width="309" rowspan="9" valign="top" style="width:232.1pt;border:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
    <p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
    <b><i><span lang="ES" style="font-size:16.0pt;line-height:115%;color:black"><u></u>&nbsp;<u></u></span></i></b></p>
    <p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
    <i><span lang="ES" style="font-size:14.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">TELEFONIA PÚBLICA
    <u></u><u></u></span></i></p>
    <p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
    <i><span lang="ES" style="font-size:14.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">LINEA BÁSICA + INTERNET<u></u><u></u></span></i></p>
    <p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
    <b><i><span lang="ES" style="font-size:14.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">DEDICADO</span></i></b><b><i><span lang="ES" style="color:#1f497d"><u></u><u></u></span></i></b></p>
  </td>
  <td width="453" colspan="4" valign="top" style="border:solid #c00000 1.0pt">
    <p class="MsoNormal" style="line-height:120%;text-autospace:none"><b><i><span lang="ES" style="color:black">DESCRIPCIÓN DE LA SOLUCIÓN:</span></i></b><b><span lang="ES" style="color:black"> &nbsp;Línea Publica
    Básica conmutada con posibilidad de habilitación de permisos de marcación para:<u></u><u></u></span></b></p>
    <p class="MsoNormal" style="text-align:justify;text-autospace:none"><b><span lang="ES" style="font-size:10.0pt">Local&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp; Local Extendida&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp; Nacional<u></u><u></u></span></b></p>
    <p class="MsoNormal" style="line-height:120%;text-autospace:none"><b><span lang="ES" style="font-size:10.0pt;line-height:120%">Internacional&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Celular<span style="color:#1f497d"><u></u><u></u></span></span></b></p>
    <p class="MsoNormal" style="line-height:120%;text-autospace:none"><b><span lang="ES">Internet Empresarial<u></u><u></u></span></b></p>
    <p class="MsoNormal" style="line-height:120%;text-autospace:none"><span lang="ES" style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Enlace de Nivel 3 o capa 3
    </span><span style="font-size:9.0pt;line-height:120%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">con direccionamiento público /29</span><b><span lang="ES" style="font-size:10.0pt;line-height:120%;color:#1f497d"><u></u><u></u></span></b></ p>
  </td>
</tr>
<tr style="height:8.05pt">
  <td width="155" colspan="2" valign="top" style="width:116.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
    <p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Dirección Destino<u></u><u></u></span></i></b></p>
  </td>
  <td width="298" colspan="2" valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
    <p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u>{{data.form.basicData.sourceAddress}}</u>&nbsp;<u></u></span></b></p>{{!-- {{data.reporteInicio.direccion_destino --}}
  </td>
</tr>
<tr style="height:8.0pt">
  <td width="155" colspan="2" valign="top" style="width:116.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
    <p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Cantidad de Líneas Telefónicas Básicas<u></u><u></u></span></i></b></p>
  </td>
  <td width="298" colspan="2" valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
    <p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u>{{data.form.technicalKickoff.quantities_basic_lines}}</u>&nbsp;<u></u></span></b></p>
  </td>
</tr>
<tr style="height:8pt">
  <td rowspan=""width="155" valign="top" style="width:116pt;border:solid rgb(192,0,0) 0.1pt;background:rgb(217,217,217);padding:0in 5.4pt;height:8pt">
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">OTP Internet Dedicado </span></i></b></p>
  </td>
  <td width="99" valign="top" style="width:74.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:8pt">
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">{{data.form.basicData.projectId}}</span></i></b></p>
  </td>
  <td width="99" valign="top" style="width:74.5pt;border: solid rgb(192,0,0) 0.1pt;background:rgb(217,217,217);padding:0in 5.4pt;height:8pt">
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">OTP Telefonia</span></i></b></p>
  </td>
  <td width="99" valign="top" style="width:74.55pt;border:solid rgb(192,0,0) 0.1pt;">
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">&nbsp;</span></i></b></p>
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">{{data.form.basicData.otp_asociada}}</span></i></b></p>
  <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-family:Arial,sans-serif;color:black">&nbsp;</span></i></b></p>
  </td>
</tr>
<tr style="height:8.0pt">
  <td width="155" colspan="2" valign="top" style="width:116.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
  <p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Ancho de Banda Internet<u></u><u></u></span></i></b></p>
  </td>
  <td width="298" colspan="2"  valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
  <p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u>{{data.form.basicData.ancho_banda}}</u>&nbsp;<u></u></span></b></p>{{!-- {{data.reporteInicio.ancho_de_banda --}}
  </td>
</tr>
<tr style="height:8.25pt; border:solid #c00000 1.0pt;background:#d9d9d9">
  <td width="155" colspan="2" rowspan="2" valign="top" style="border:solid #c00000 1.0pt">
    <p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Interfaz de Entrega<u></u><u></u></span></i></b></p>
  </td>
  <td width="298" valign="top" colspan="2" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
    <p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Telefonia: RJ 11 – FXS (Puerto)<u></u><u></u></span></b></p>
  </td>
</tr>
<tr style="height:8.25pt">
<td width="298" colspan="2" valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Internet: &nbsp;RJ 45
<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr style="height:16.4pt">
<td width="155" colspan="2" valign="top" style="width:116.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Disponibilidad<u></u><u></u></span></i></b></p>
</td>
<td width="298" colspan="2" valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">99.7 % &nbsp;<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr style="height:16.45pt">
<td width="155" colspan="2" valign="top" style="width:116.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="color:black">Equipos a Instalar<u></u><u></u></span></i></b></p>
</td>
<td width="298" colspan="2" valign="top" style="width:223.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Conversor de Medio + 1 Router + Gaoke<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A partir de hoy (<b>{{data.form.baseLine.startDate}}</b>) &nbsp;se da inicio al Proceso de instalación de<span style="color:#1f497d">
</span>los Servicios<span style="color:#1f497d">. </span>A continuación se detalla la secuencia de actividades para llevar a cabo la instalación de los servicio.<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span><img width="711" height="455" id="m_-960622316391375599Imagen_x0020_14" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/actividades_para_la_instalacion_de_su_servicio.png" alt="cid:image002.png@01D1ED51.078C8AC0" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 623px; top: 1963.31px;"><div id=":1g0" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image002.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1g1" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image002.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">De acuerdo a lo anterior le agradecemos nos confirme la siguiente información:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="724" style="width:542.85pt;border-collapse:collapse">
<tbody>
<tr style="height:30.5pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">INFORMACIÓN A CONFIRMAR<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="426" colspan="6" valign="top" style="width:319.2pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DATOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:30.5pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.75pt">
  <td width="262" colspan="2" rowspan="4" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
   <p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Documentación Necesaria para la realización de las visitas en su sede.</span></i><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;&quot;sans-serif&quot;">Parafiscales<u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.75pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:6.65pt">
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Certificación Alturas<u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:6.65pt">
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cursos Especiales<u></u><u></u></span></b></p>
  </td>
    <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:6.65pt">
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">EPP<u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.65pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:13.4pt">
  <td width="262" colspan="2" rowspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
    <p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Para la Visita &nbsp;1 y 2 Cotización de obra civil y Ejecución de Obra Civil requiere:<u></u><u></u></span></i></p>
  </td>
  <td width="213" colspan="2" valign="top" style="width:159.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Acompañamiento de Personal de Mantenimiento de su sede<u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.4pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:13.4pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:13.4pt">
<td width="213" colspan="2" valign="top" style="width:159.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:13.4pt">
<p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Horario Especial<u></u><u></u></span></b></p>
</td>
<td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.4pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:13.4pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:8.9pt">
  <td width="262" colspan="2" rowspan="3" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.9pt">
    <p class="MsoNormal"><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirme la existencia de las siguientes condiciones:
    <u></u><u></u></span></i></p>
  </td>
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Rack<u></u><u></u></span></b></p>
    <p class="MsoNormal"><b><i><span lang="ES" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">(Requiere Bandeja para la instalación de los equipos)<u></u><u></u></span></i></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:8.9pt" >
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt" >
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot">Tomas reguladas
    <u></u><u></u></span></b></p>
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">(V n-t &lt; 1 V)</span></b><b><i><span lang="ES" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:8.9pt">
  <td width="213" colspan="2" valign="top" style="border:solid #c00000 0.1pt">
    <p class="MsoNormal"><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Planta Telefónica IP<u></u><u></u></span></b></p>
  </td>
  <td width="213" colspan="4" valign="top" style="width:159.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
  </td>
  <td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:8.9pt">
    <p class="MsoNormal">&nbsp;<u></u><u></u></p>
  </td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="8" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:#bfbfbf;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CATEGORIAS PERMISOS PARA LAS LLAMADAS<u></u><u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:#eeece1;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Permisos de llamadas Salientes<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nota: Es de suma Importancia que nos confirme si requiere la restricción de Permisos de Marcación.&nbsp;En caso
 de que no confirme el servicio se entregara solo con permisos habilitados para llamadas Locales.</span></u></i><i><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="426" colspan="6" valign="top" style="border: solid #c00000 1.0pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Restringir llamadas<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">* Documente “SI” si desea restringir las salidas de la Larga Distancia Nacional, Internacional, Móviles
 y Local Extendida. Documente “NO” si desea dejar los permisos de marcación abiertos (es decir permitir la salida de llamadas a estos destinos).</span></u></i><b><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Nacional<u></u><u></u></span></i></b></p>
</td>
<td width="426" colspan="6" valign="top" style="width:319.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Internacional<u></u><u></u></span></i></b></p>
</td>
<td width="426" colspan="6" valign="top" style="width:319.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Móviles<u></u><u></u></span></i></b></p>
</td>
<td width="426" colspan="6" valign="top" style="width:319.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="262" colspan="2" valign="top" style="width:196.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Local Extendida<u></u><u></u></span></i></b></p>
</td>
<td width="426" colspan="6" valign="top" style="width:319.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="687" colspan="8" valign="top" style="width:515.55pt;border:solid #c00000 1.0pt;border-top:none;background:#a6a6a6;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">INFORMACIÓN IMPORTANTE PARA LA INSTALACIÓN DEL SERVICIO DE INTERNET<u></u><u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="131" rowspan="2" valign="top" style="width:98.15pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><i><span style="font-size:14.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">OPCIÓNES DE ENTREGA DEL<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><b><i><span style="font-size:14.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">SERVICIO</span></i></b><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
</td>
<td width="379" colspan="4" valign="top" style="width:284.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">OPCIÓN DE ENTREGA 1:</span></i></b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">
<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Por favor confirme si va a conectar su red LAN con un direccionamiento diferente al público asignado por Claro.
<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">En caso de que la respuesta sea
<b><u>SI</u></b> por favor indíquenos &nbsp;el segmento al cual le debemos configurar NAT.</span></i><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
</td>
<td width="178" colspan="3" valign="top" style="width:133.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="379" colspan="4" valign="top" style="width:284.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal"><b><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">OPCIÓN DE ENTREGA 2:
<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Por favor confirme si va a configurar sobre sus máquinas el direccionamiento publico asignado por Claro.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">En caso de que la respuesta sea
<b><u>NO</u></b> por favor indíquenos el pool de direcciones para configurar DHCP y las IPs Excluidas</span></i><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></b></p>
</td>
<td width="178" colspan="3" valign="top" style="width:133.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="510" colspan="5" valign="top" style="width:382.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Por favor confirme si posee elementos de red tales como servidores de correo, webhosting, cámaras, los cuáles requieren que le entreguemos un direccionamiento
 público o requieren que se les configure&nbsp; un NAT con el puerto que utiliza el equipo de red y así tener salida al servicio de internet.<b><u></u><u></u></b></span></i></p>
</td>
<td width="178" colspan="3" valign="top" style="width:133.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="510" colspan="5" valign="top" style="width:382.35pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><i><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Por favor confirme si cuenta con algún elemento de red intermedio (Firewall o Proxy) el cual le permite salida a internet a sus equipos de red LAN.
 Especifique la IP del elemento de red para configurar ruta estática con el segmento de red publico asignado.<b><u></u><u></u></b></span></i></p>
</td>
<td width="178" colspan="3" valign="top" style="width:133.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm;height:6.1pt">
<p class="MsoNormal">&nbsp;<u></u><u></u></p>
</td>
</tr>
<tr>
<td width="389" colspan="3" style="width:291.6pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="121" colspan="2" style="width:90.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="1" style="width:1.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.65pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" colspan="2" style="width:101.85pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="389" colspan="3" style="width:291.6pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="121" colspan="2" style="width:90.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="1" style="width:1.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.65pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="136" colspan="2" style="width:101.85pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="131" style="width:98.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="131" style="width:98.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="86" style="width:64.5pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="35" style="width:26.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="1" style="width:.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="77" style="width:57.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="99" style="width:74.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="36" style="width:27.0pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">En caso de que desee integrar el servicio de telefonía &nbsp;a una Planta Telefónica,
<i><u>la Planta telefónica debe ser análoga.<u></u><u></u></u></i></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Entrega de los servicio</i></b> &nbsp;es <b><i></i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias para la instalación.&nbsp;
<span style="color:#1f497d">{{data.form.baseLine.between_service}}</span></span></p>{{!-- {{data.reporteInicio.fecha_entrega_servicio --}}
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de inicio de Facturación</i></b> corresponde a la fecha en que Claro entrega el Servicio y es aceptado a satisfacción.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Por favor tenga en cuenta las siguientes recomendaciones:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1066" height="742" id="m_-960622316391375599Imagen_x0020_3" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/estructutra_telefonia_PublicaBasica_internetDedicado.png" alt="cid:image010.png@01D1ED54.B0460670" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 979px; top: 3889.8px;"><div id=":1g6" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image010.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1g7" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image010.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nuestro objetivo es hacer la entrega del Servicio contratado a satisfacción de su solución, por eso es fundamental que usted conozca las etapas básicas de la instalación
 del Servicio y el impacto y Plan de Mitigación definido para cada una.</span><span lang="ES-MX" style="color:#1f497d"><u></u><u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="718" style="width:538.25pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">RIESGOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="274" valign="top" style="width:205.5pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">PLAN DE MITIGACIÓN<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la instalación por Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt"><img width="420" height="110" id="m_-960622316391375599Imagen_x0020_5" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenA.png" alt="cid:image008.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 340.695px; top: 4184.78px;"><div id=":1g3" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image004.jpg" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1g4" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image004.jpg en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede donde se va a realizar la Instalación.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirmación de la documentación que debe portar el personal de Claro para efectuar las actividades.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de Aprobación de los Costos de la Cotización de Obra Civil.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span></i><span style="font-size:10.0pt"><img width="251" height="118" id="m_-960622316391375599Imagen_x0020_4" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenB.png" alt="cid:image009.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 275.266px; top: 4401.28px;"><div id=":1fx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image005.jpg" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1fy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image005.jpg en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Pre aprobación de
<b>Cotización de Obra Civil</b> desde la venta o Kickoff.<u></u><u></u></span></i></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Aprobación de los Costos y el Plano enviado máximo 3 días Calendario después de recibida la cotización de Obra Civil<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de &nbsp;envió de la información técnica de la sede para la configuración del servicio.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="187" height="117" id="m_-960622316391375599Imagen_x0020_10" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenC.png" alt="cid:image010.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Respuesta a la información solicitada en este correo máximo 8 días después de la fecha reportada como inicio de actividades.<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la adecuación de la sede con los requisitos mínimos de condiciones eléctricas y ambientales para instalar los equipos.<u></u><u></u></span></i></p>
<p class="MsoNormal"><span><img width="369" height="126" id="m_-960622316391375599Imagen_x0020_11" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenD.png" alt="cid:image012.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Las condiciones de instalación deben estar listas a más tardar el día de la
<b>Visita de habilitación de Medio.</b><u></u><u></u></span></i></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso de Instalación puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>

<table border="0" cellspacing="0" cellpadding="0" width="595" style="width:446.15pt;border-collapse:collapse">
<tbody><tr style="height:29.05pt">
<td width="226" colspan="3" valign="top" style="width:169.7pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN CONTACTO<span></span></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white"> <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 1<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:<span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer1.name}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="151" colspan="2" valign="top" style="width:113pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="161" colspan="2" valign="top" style="width:120.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer1.phoneNumber}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:andrea.garcia.ext@claro.com.co" target="_blank">{{data.engineersContacts.engineer1.email}}</a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 2<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer2.name}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer2.phoneNumber}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:alexander.franco.ext@claro.com.co" target="_blank">{{data.engineersContacts.engineer2.email}}<wbr>com.co</a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 3</span></b><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer3.name}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.engineersContacts.engineer3.phoneNumber}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span><a href="mailto:paula.gomezb.ext@claro.com.co" target="_blank">{{data.engineersContacts.engineer3.email}}</a></span></span></b></p>
 </td>
 </tr>
 </tbody></table>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES-MX"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%"><span lang="ES-MX" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordialmente<u></u><u></u></span></p>
<p class="MsoNormal" style="margin-bottom:12.0pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="800" style="width:600.0pt">
<tbody>
<tr style="height:92.25pt">
<td width="120" style="width:90.0pt;padding:0cm 0cm 0cm 0cm;height:92.25pt">
<p class="MsoNormal"><u></u><a href="http://www.claro.com.co/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.claro.com.co/&amp;source=gmail&amp;ust=1577137236732000&amp;usg=AFQjCNEVusodIJLlcHPK4qeWJQepXAMydg"><img border="0" width="96" height="96" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.9&amp;permmsgid=msg-a:r-6834217005777733328&amp;th=16f2f8d9bd8197ff&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_0BitMBL5R7n0mbjbpLTXRMaGjXsg94uVJSTUiyH7B2KS9aw5Dbifk0MAa3sVa-lKopKxyJpg6HeOF8Xsgz7JLtMMrMUULf-oSXaQtdYj1yytFWuaDwVI3_fA&amp;disp=emb" align="left" alt="Descripción: https://webmail.telmexla.com.co/resources/images/logo.png" data-image-whitelisted="" class="CToWUd"></a><u></u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u><u></u></span></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm;height:92.25pt">
<p class="MsoNormal" style="margin-bottom:12.0pt"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Ingeniero Im<span style="color:black">plementación Estándar</span></span></b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><br>
</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Telmex Colombia S.A.</span></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Conmutador: Bogotá: 7480000 - 7500300, Cali: 4880000, Medellín: 6041000, B/quilla: 3870000<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
AVISO DE CONFIDENCIALIDAD: </span></b><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia,
 revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Telmex Colombia S.A está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo
 al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos
 antes mencionados, Telmex Colombia S.A tendrá derecho a los daños y perjuicios que esto le cause.<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span></b><b><span lang="EN-US" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">CONFIDENTIALITY NOTICE:
</span></b><b><span lang="EN-US" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
This e-mail message including attachments, if any, is intended only for the person or entity to which it is addressed and may contain confidential and /or privileged material. Any review, use, disclosure or distribution of such confidential information without
 the written authorization of Telmex Colombia S.A is prohibited. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies of the original message. By receiving this e-mail you acknowledge that any breach by you
 and/or your representatives of the above provisions may entitle Telmex Colombia S.A to seek for damages.</span></b><span lang="EN-US"><u></u><u></u></span></p><div class="yj6qo"></div><div class="adL">
</div></div>
</body>
</html>