<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div><div class="adM">
</div><p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;line-height:115%">
<span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordial Saludo Señor(a)<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{data.reporteInicio.nombre}}</span></b><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A continuación se remite
</span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;el reporte de Inicio de Actividades para
<b>{{data.reporteInicio.nombre_cliente_val}}&nbsp; </b>con el cual se da inicio al proceso de Instalación del Servicio &nbsp;<b><span style="color:#1f497d">{{data.reporteInicio.servicio}}</span></b><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Este documento&nbsp; contiene las definiciones del servicio a instalar y los datos de contacto del Ingeniero encargado
 de la implementación de su servicio. Es de suma importancia que sea revisado y nos retroalimente la información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información contenida
 en este documento es importante que nos haga llegar sus inquietudes ya que el servicio contratado será entregado de acuerdo a la información que describimos a continuación.
<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SERVICIO A INSTALAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1063" height="542" id="m_8089590129770521380Imagen_x0020_1" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/servicio_entrega_puertos_lan_aeropuertoDorado.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 975px; top: 824.328px;"><div id=":3m1" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image001.png" data-tooltip-class="a1V" data-tooltip="Descargar"><div class="aSK J-J5-Ji aYr"></div></div><div id=":3m2" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image001.png en Drive" data-tooltip-class="a1V" data-tooltip="Guardar en Drive"><div class="wtScjd J-J5-Ji aYr aQu"><div class="T-aT4" style="display: none;"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CARACTERISTICAS DEL SERVICIO CONTRATADO<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<table border="0" cellspacing="0" cellpadding="0" width="793" style="width:594.95pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="283" colspan="3" valign="top" style="width:212.1pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">ENTREGABLE<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="510" colspan="11" valign="top" style="width:382.85pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DISEÑO ORIGINAL<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:16.45pt">
<td width="283" colspan="3" rowspan="10" valign="top" style="width:212.1pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:16.0pt;line-height:115%;color:black"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SOLUCIONES ADMINISTRADAS PUERTOS LAN AEROPUERTO EL DORADO - OPAIN</span></i></b><b><i><span lang="ES" style="color:#1f497d"><u></u><u></u></span></i></b></p>
</td>
<td width="510" colspan="11" valign="top" style="width:382.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="line-height:120%;text-autospace:none"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">DESCRIPCIÓN DE LA SOLUCIÓN</span></i></b><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d">:
</span></i></b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Habilitación de Puertos LAN para proveer conectividad al servicio solicitado.</span><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.05pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Dirección Destino<u></u><u></u></span></i></b></p>
</td>
<td width="312" colspan="8" valign="top" style="width:234.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:8.05pt">
<td width="95" colspan="2" valign="top" style="width:71.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Local<u></u><u></u></span></b></p>
</td>
<td width="217" colspan="6" valign="top" style="width:162.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">{{data.reporteInicial.local}}&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="198" colspan="3" rowspan="4" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Servicio a Entregar<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">OTP:&nbsp;&nbsp; {{data.reporteInicio.otp}}</span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">OTP:&nbsp;&nbsp; {{data.reporteInicio.otp}}</span></i></b></p>
</td>
<td width="95" colspan="2" valign="top" style="width:71.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Internet<u></u><u></u></span></b></p>
</td>
<td width="84" colspan="3" valign="top" style="width:63.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">{{data.reporteInicio.internet}}&nbsp;</span></b></p>
</td>
<td width="132" colspan="3" valign="top" style="width:99.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">BW:{{data.reporteInicio.banda_ancha}} </span></b></p>{{!-- {{data.reporteInicio.bw --}}
</td>
</tr>
<tr style="height:6.75pt">
<td width="95" colspan="2" rowspan="2" valign="top" style="width:71.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Telefonia<u></u><u></u></span></b></p>
</td>
<td width="84" colspan="3" rowspan="2" valign="top" style="width:63.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"> {{data.reporteInicio.telefonia}}&nbsp;/span></b></p>
</td>
<td width="132" colspan="3" valign="top" style="width:99.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"># Líneas:{{data.reporteInicio.numero_lineas}}</span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="132" colspan="3" valign="top" style="width:99.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"># Teléfonos:{{data.reporteInicio.nomero_telefonos}}</span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="95" colspan="2" valign="top" style="width:71.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">MPLS<u></u><u></u></span></b></p>
</td>
<td width="84" colspan="3" valign="top" style="width:63.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">{{data.reporteInicio.mpls}}&nbsp;</span></b></p>
</td>
<td width="132" colspan="3" valign="top" style="width:99.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">BW:{{data.reporteInicio.bw2}}</span></b></p>
</td>
</tr>
<tr style="height:8.0pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Total de Puertos LAN<u></u><u></u></span></i></b></p>
</td>
<td width="312" colspan="8" valign="top" style="width:234.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">{{data.reporteInicio.total_puertos_lan}}&nbsp;</span></b></p>
</td>
</tr>
<tr style="height:16.45pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Interfaz de Entrega<u></u><u></u></span></i></b></p>
</td>
<td width="312" colspan="8" valign="top" style="width:234.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">RJ 45<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr style="height:16.4pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Disponibilidad<u></u><u></u></span></i></b></p>
</td>
<td width="312" colspan="8" valign="top" style="width:234.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">99.7 % &nbsp;<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr>
<td width="127" style="width:95.15pt;border:solid #c00000 1.0pt;border-top:none;padding:0cm 0cm 0cm 0cm">
</td>
<td width="127" style="width:95.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="29" style="width:21.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="98" style="width:73.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="83" style="width:62.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="44" colspan="2" style="width:33.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="127" colspan="3">
</td>
<td width="158" colspan="4">
</td>
</tr>
<tr>
<td width="127" style="width:95.15pt;border:solid #c00000 1.0pt;border-top:none;padding:0cm 0cm 0cm 0cm">
</td>
<td width="127" style="width:95.2pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="29" style="width:21.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="98" style="width:73.75pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="83" style="width:62.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="17" style="width:12.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="27" style="width:20.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="96" colspan="2" style="width:72.0pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="31" style="width:23.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="35" colspan="2" style="width:26.4pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="28" style="width:21.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
<td width="94" style="width:70.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;padding:0cm 0cm 0cm 0cm">
</td>
</tr>
<tr>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="29" style="width:21.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="98" style="width:73.5pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="83" style="width:62.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="17" style="width:12.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="27" style="width:20.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="68" style="width:51.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="31" style="width:23.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="26" style="width:19.5pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="9" style="width:6.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="94" style="width:70.5pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A partir de hoy (<b>{{data.reporteInicio.fecha}}</b>) &nbsp;se da inicio al Proceso de instalación del Servicio<span style="color:#1f497d">.
</span>A continuación se detalla la secuencia de actividades para llevar a cabo la instalación del servicio.<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="770" height="389" id="m_8089590129770521380Imagen_x0020_4" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/actividades_instalacion_aeropuertoDorado.png" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 682px; top: 1651.33px;"><div id=":3ly" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image002.jpg" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":3lz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image002.jpg en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">De acuerdo a lo anterior le agradecemos nos confirme la siguiente información:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="687" style="width:515.55pt;border-collapse:collapse">
<tbody><tr style="height: 30.5pt;">
  <td width="441" valign="top" style="width: 330.9pt; border: 1pt solid rgb(192, 0, 0); background: rgb(192, 0, 0); padding: 0cm 5.4pt; height: 30.5pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">INFORMACIÓN A CONFIRMAR</span></b></p>
  <div class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">
  <hr size="2" width="100%" align="center">
  </span></b></div>
  </td>
  <td width="246" colspan="5" valign="top" style="width: 184.65pt; border-top: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-image: initial; border-left: none; background: rgb(192, 0, 0); padding: 0cm 5.4pt; height: 30.5pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">DATOS</span></b></p>
  <div class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif; color: white;">
  <hr size="2" width="100%" align="center">
  </span></b></div>
  </td>
 </tr>
 <tr style="height: 6.75pt;">
  <td width="441" rowspan="4" valign="top" style="width: 330.9pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif;">Documentación Necesaria para la realización de
  las visitas en su sede.</span></i></p>
  </td>
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">Parafiscales</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 6.75pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">Certificación Alturas</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 6.75pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">Cursos Especiales</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 6.75pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">EPP</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 6.75pt;">
  <td width="441" rowspan="3" valign="top" style="width: 330.9pt; border-right: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-left: 1pt solid rgb(192, 0, 0); border-image: initial; border-top: none; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif;">&nbsp;</span></i></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif; color: black;">Uso de los puertos</span></i><b><span style="font-family: Arial, sans-serif; color: black;"> </span></b><b><span style="font-family: Arial, sans-serif;"></span></b></p>
  </td>
  <td width="127" colspan="2" rowspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 0, 0); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Servicio</span></b></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Telefonía</span></b></p>
  </td>
  <td width="61" colspan="2" valign="top" style="width: 46.1pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Puertos</span></b></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="color: black;">Voz</span></b><span style="color: black;"></span></p>
  </td>
  <td width="58" valign="top" style="width: 43.5pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.75pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></p>
  </td>
 </tr>
 <tr style="height: 6.65pt;">
  <td width="61" colspan="2" valign="top" style="width: 46.1pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.65pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Datafono</span></b></p>
  </td>
  <td width="58" valign="top" style="width: 43.5pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 0, 0); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 6.65pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 24pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background: rgb(242, 242, 242); padding: 0cm 5.4pt; height: 24pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Servicio </span></b></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Internet o Datos</span></b></p>
  </td>
  <td width="61" colspan="2" valign="top" style="width: 46.1pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 24pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif; color: black;">Puertos</span></b></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="color: black;">Datos</span></b></p>
  </td>
  <td width="58" valign="top" style="width: 43.5pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 24pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="441" rowspan="7" valign="top" style="width: 330.9pt; border-top: none; border-left: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif;">&nbsp;</span></i></p>
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif;">Marquillas confirmadas por su Proveedor de
  Cableado </span></i></p>
  </td>
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" align="center" style="text-align: center; margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 12pt; font-family: Arial, sans-serif;">&nbsp;</span></b></p>
  </td>
 </tr>
 <tr style="height: 13.4pt;">
  <td style="border-top: none; border-left: 1pt solid rgb(192, 0, 0); border-bottom: 1pt solid rgb(192, 0, 0); border-right: 1pt solid rgb(192, 80, 77); padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="font-family: Arial, sans-serif;">Las Marquillas a Habilitar se encuentran a más de
  1.5 mts de altura?</span></i></p>
  </td>
  <td width="127" colspan="2" valign="top" style="width: 95.05pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm 5.4pt; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">SI:</span></b></p>
  </td>
  <td width="119" colspan="3" valign="top" style="width: 89.6pt; border-top: none; border-left: none; border-bottom: 1pt solid rgb(192, 80, 77); border-right: 1pt solid rgb(192, 80, 77); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding: 0cm; height: 13.4pt;">
  <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif;"><b><span style="font-size: 10pt; font-family: Arial, sans-serif;">NO:</span></b></p>
  </td>
 </tr>
 <tr>
  <td width="441" style="width: 330.9pt; padding: 0cm;"></td>
  <td width="86" style="width: 64.3pt; padding: 0cm;"></td>
  <td width="41" style="width: 30.75pt; padding: 0cm;"></td>
  <td width="52" style="width: 38.95pt; padding: 0cm;"></td>
  <td width="68" colspan="2" style="width: 50.65pt; padding: 0cm;"></td>
 </tr>
</tbody>  
</table>
<p class="MsoNormal" style="text-align:justify"><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Entrega de su servicio</i></b> &nbsp;es <b><i>{{data.reporteInicio.fecha_entrega_ampliacion}}</i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias para la instalación.&nbsp;
<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de inicio de Facturación</i></b> corresponde a la fecha en que Claro entrega el Servicio y es aceptado a satisfacción.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Por favor tenga en cuenta las siguientes recomendaciones:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="718" style="width:538.25pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">RIESGOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="274" valign="top" style="width:205.5pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">PLAN DE MITIGACIÓN<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la instalación por Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt"><img width="420" height="110" id="m_8089590129770521380Imagen_x0020_8" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenA.png" alt="cid:image008.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede donde se va a realizar la Instalación.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirmación de la documentación que debe portar el personal de Claro para efectuar las actividades.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de &nbsp;envió de la información técnica de la sede para la configuración del servicio.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="187" height="117" id="m_8089590129770521380Imagen_x0020_6" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenB.png" alt="cid:image010.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Respuesta a la información solicitada en este correo máximo 8 días después de la fecha reportada como inicio de actividades.<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la adecuación de la sede con los requisitos mínimos de condiciones eléctricas y ambientales para instalar los equipos.<u></u><u></u></span></i></p>
<p class="MsoNormal"><span><img width="369" height="126" id="m_8089590129770521380Imagen_x0020_5" src="https://telmex.oss-ap-southeast-1.aliyuncs.com/ReporteInicio/subimagenC.png" alt="cid:image012.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Las condiciones de instalación deben estar listas a más tardar el día de la
<b>Visita de habilitación de Medio.</b><u></u><u></u></span></i></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso de Instalación puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="595" style="width:446.15pt;border-collapse:collapse">
 <tbody><tr style="height:29.05pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN CONTACTO<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 1<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:<span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="151" colspan="2" valign="top" style="width:113pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="161" colspan="2" valign="top" style="width:120.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1_tel}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero1_email}}" target="_blank">{{data.reporteInicio.ingeniero1_email}}</a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 2<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2_tel}}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero2_email}}" target="_blank">{{data.reporteInicio.ingeniero2_email}}<wbr></a></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 3</span></b><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3}}</span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3_tel  }}</span></span></b></p>
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero3_email}}" target="_blank">{{data.reporteInicio.ingeniero3_email}}</a></span></span></b></p>
 </td>
 </tr>
 </tbody></table>
</table>
<p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Conmutador: Bogotá: 7480000 - 7500300, Cali: 4880000, Medellín: 6041000, B/quilla: 3870000<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
AVISO DE CONFIDENCIALIDAD: </span></b><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia,
 revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Telmex Colombia S.A está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo
 al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos
 antes mencionados, Telmex Colombia S.A tendrá derecho a los daños y perjuicios que esto le cause.<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span></b><b><span lang="EN-US" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">CONFIDENTIALITY NOTICE:
</span></b><b><span lang="EN-US" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
This e-mail message including attachments, if any, is intended only for the person or entity to which it is addressed and may contain confidential and /or privileged material. Any review, use, disclosure or distribution of such confidential information without
 the written authorization of Telmex Colombia S.A is prohibited. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies of the original message. By receiving this e-mail you acknowledge that any breach by you
 and/or your representatives of the above provisions may entitle Telmex Colombia S.A to seek for damages.</span></b><span lang="EN-US"><u></u><u></u></span></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%"><span lang="EN-US" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p><div class="yj6qo"></div><div class="adL">
</div></div>
</body>
</html>