<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div dir="ltr"><div class="adM">
 </div><div class="adM">
 </div><p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 10pt;text-align:justify;line-height:115%;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;line-height:115%;font-family:Arial,sans-serif">Cordial Saludo Señor(a)<span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif">{{data.reporteInicio.nombre}}</span></b><span lang="ES-MX" style="font-size:12pt;font-family:Arial,sans-serif"><span></span></span></p>{{!-- {{data.nombre --}}
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span><span lang="ES-MX" style="font-size:12pt;font-family:Arial,sans-serif"><span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-MX" style="font-size:12pt;font-family:Arial,sans-serif">A continuación se remite </span><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">&nbsp;el reporte de Inicio de Actividades para <b>{{ data.reporteInicio.fecha }}</b>con el cual se da inicio al proceso de Instalación del{{!-- {{data.fecha --}}
 Servicio &nbsp;<b><span style="color:rgb(31,73,125)">{{data.reporteInicio.servicio}}</span></b><span></span></span></p>{{!-- {{data.services --}}
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">Este documento&nbsp; contiene las definiciones del servicio a instalar y
 los datos de contacto del Ingeniero encargado de la implementación de su
 servicio. Es de suma importancia que sea revisado y nos retroalimente la
 información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no
 dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información
 contenida en este documento es importante que nos haga llegar sus inquietudes
 ya que el servicio contratado será entregado de acuerdo a la información que
 describimos a continuación. <span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">SERVICIO A INSTALAR<span></span></span></b></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span style="color:black"><img src="https://ci3.googleusercontent.com/proxy/c-fFcTFgu8nOlTJXWYkuGtVifSYFbdl1RXO_NrhtXbG5bIABVzus8xbHGXH3TKON1fo-O0UKkRn_wvo2fe-BChFStbRxUJAnYSzaWWcX9-jWd-Ksba8VUKb2lXfsZcCUFWelF8JXI6s39WYPKFbmr8YFqQVS8KWGhGI=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/mail_formats/mpls_avanzado_con_componente_en_datacenter.png" width="885" height="516" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 837px; top: 863.328px;"><div id=":xl" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div></span><span lang="ES-CO"><span></span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">A partir de hoy (<b>{{ data.reporteInicio.fecha }}</b>) &nbsp;se da inicio al Proceso de{{!-- {{data.fecha --}}
 instalación del Servicio<span style="color:rgb(31,73,125)">. </span>A continuación se
 detalla la secuencia de actividades para llevar a cabo la instalación del
 servicio.<span style="color:rgb(31,73,125)"><span></span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="color:rgb(31,73,125)"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span><img src="https://ci5.googleusercontent.com/proxy/gJT9uk3btSVltQkc74Ryko0teGW_u2nS7Z8otp017-YgOJjQFfv7OiHYNY577efllAxyZ1pLW71mpHJMvrbofN53K1S_Lq4yGBV9JqFIsK6dLDxOMDfCtTeeyPLtOvD18YSqGtjC8nh6KfhkvZqujR6u5ecrYtDIaC2ao-TZ=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/mail_formats/actividades_para_la_instalacion_de_su_servicio.png" width="717" height="453" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 669px; top: 1414.33px;"><div id=":xk" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div></span><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:rgb(31,73,125)"><span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:rgb(31,73,125)"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">CARACTERISTICAS DEL SERVICIO CONTRATADO<span></span></span></b></p>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="color:white"><span>&nbsp;</span></span></b></p>
 <table border="0" cellspacing="0" cellpadding="0" width="947" style="width:710.55pt;border-collapse:collapse">
 <tbody><tr style="height:29.05pt">
 <td width="189" valign="top" style="width:141.65pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">ENTREGABLE<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="747" colspan="20" valign="top" style="width:559.9pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">DISEÑO ORIGINAL<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8.05pt">
 <td width="189" style="width:141.65pt;border-top:none;border-left:1pt solid rgb(192,0,0);border-bottom:none;border-right:1pt solid rgb(192,0,0);padding:0in;height:8.05pt">
 <p class="MsoNormal" style="margin:0in 0in 10pt;line-height:115%;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:14pt;line-height:115%;font-family:&quot;Arial Black&quot;,sans-serif;color:black">{{data.reporteInicio.servicio}}</span></b><b><span lang="ES" style="font-family:&quot;Arial Black&quot;,sans-serif;color:rgb(31,73,125)"><span></span></span></b></p>{{!-- {{data.servicio --}}
 </td>
 <td width="747" colspan="20" valign="top" style="width:559.9pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in 5.4pt;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="color:black">DESCRIPCIÓN
 DE LA SOLUCIÓN:</span></i></b><span lang="ES" style="font-family:Arial,sans-serif">Enlace de Nivel 3 o capa 3 </span><span lang="ES-CO" style="font-family:Arial,sans-serif">por
 esta razón el <b>Direccionamiento LAN</b> asignado para las sedes a conectar
 no puede estar dentro del mismo segmento o duplicado.</span><b><span lang="ES" style="font-family:Arial,sans-serif;color:black"><span></span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8.05pt">
 <td width="189" rowspan="25" style="width:141.65pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in;height:8.05pt"></td>
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Dirección de Instalación<span></span></span></i></b></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">(Destino del Servicio)<span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>calle 63 24 80</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8.05pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Dirección de Instalación<span></span></span></i></b></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">(Punto Central)<span></span></span></i></b></p>
 </td>
 <td width="74" colspan="2" valign="top" style="width:55.15pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(231,230,230);padding:0in 5.4pt;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black">Existente<span></span></span></b></p>
 </td>
 <td width="53" colspan="3" valign="top" style="width:40.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>sdfasd</span></span></b></p>
 </td>
 <td width="194" colspan="6" valign="top" style="width:145.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(231,230,230);padding:0in;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black">Nuevo<span></span></span></b></p>
 </td>
 <td width="215" colspan="7" valign="top" style="width:161.4pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:8.05pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>fsdafsadf</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:8pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Ancho de Banda<span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:8pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>2232 MHz</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:16.45pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:16.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Interfaz de Entrega<span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:16.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>sdasaddsa</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:16.45pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:16.4pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Disponibilidad<span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="color:black">99.7 %
 &nbsp;- NDS5</span></b><b><i><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span></span></span></i></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:16.4pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:16.4pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Equipos a Instalar<span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black">Conversor de Medio + Router<span></span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:16.4pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:16.4pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Fecha de Entrega de Servicio<span></span></span></i></b></p>
 </td>
 <td width="347" colspan="13" valign="top" style="width:260.55pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>{{data.reporteInicio.fecha_entrega_ampliacion}}</span></span></p>{{!-- {{data.lb_fecha_entrega_servicio}} --}}
 </td>
 <td width="189" colspan="5" valign="top" style="width:141.65pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:16.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:8pt;font-family:Arial,sans-serif">sujeta a cambios derivados del cumplimiento de las actividades
 necesarias para la instalación<span style="color:black"><span></span></span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:16.4pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:16.4pt">
 <td width="747" colspan="20" valign="top" style="width:559.9pt;border-top:none;border-left:none;border-bottom:1pt solid windowtext;border-right:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:16.4pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN IMPORTANTE PARA
 LA INSTALACIÓN DEL SERVICIO</span></b><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span></span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:16.4pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8.45pt">
 <td width="210" colspan="2" rowspan="3" valign="top" style="width:157.7pt;border-top:none;border-bottom:none;border-left:none;border-right:1pt solid windowtext;background:rgb(217,217,217);padding:0in 5.4pt;height:8.45pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Para las Visitas
 del Personal de Claro en su sede se requiere:<span></span></span></i></b></p>
 </td>
 <td width="177" colspan="6" valign="top" style="width:132.65pt;border-top:none;border-bottom:none;border-left:none;border-right:1pt solid windowtext;background:white;padding:0in 5.4pt;height:8.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Parafiscales:<span></span></span></b></p>
 </td>
 <td width="85" colspan="2" valign="top" style="width:63.85pt;border-top:none;border-bottom:none;border-left:none;border-right:1pt solid windowtext;background:white;padding:0in;height:8.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="179" colspan="8" valign="top" style="width:134.5pt;border-top:none;border-bottom:none;border-left:none;border-right:1pt solid windowtext;background:white;padding:0in;height:8.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Certificación de Alturas:<span></span></span></b></p>
 </td>
 <td width="95" colspan="2" valign="top" style="width:71.2pt;border-top:none;border-bottom:none;border-left:none;border-right:1pt solid windowtext;background:white;padding:0in;height:8.45pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8.45pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:8.35pt">
 <td width="177" colspan="6" valign="top" style="width:132.65pt;border-top:1pt solid windowtext;border-left:none;border-bottom:none;border-right:1pt solid windowtext;background:white;padding:0in 5.4pt;height:8.35pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">EPP:<span></span></span></b></p>
 </td>
 <td width="85" colspan="2" valign="top" style="width:63.85pt;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:white;padding:0in;height:8.35pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="179" colspan="8" rowspan="2" valign="top" style="width:134.5pt;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:white;padding:0in;height:8.35pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Cursos especiales:<span></span></span></b></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">(Por favor
 confirme Horarios)<span></span></span></b></p>
 </td>
 <td width="95" colspan="2" rowspan="2" valign="top" style="width:71.2pt;border-top:1pt solid windowtext;border-left:none;border-bottom:none;border-right:1pt solid windowtext;background:white;padding:0in;height:8.35pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:8.35pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:5.8pt">
 <td width="177" colspan="6" valign="top" style="width:132.65pt;border-top:1pt solid windowtext;border-left:none;border-bottom:none;border-right:1pt solid windowtext;background:white;padding:0in 5.4pt;height:5.8pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Acompañamiento personal mantenimiento:<span></span></span></b></p>
 </td>
 <td width="85" colspan="2" valign="top" style="width:63.85pt;border-top:none;border-left:none;border-bottom:1pt solid windowtext;border-right:1pt solid windowtext;background:white;padding:0in;height:5.8pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:5.8pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:12.25pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:1pt solid windowtext;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Confirme la
 Existencia de las siguientes condiciones:<span></span></span></i></b></p>
 </td>
 <td width="85" colspan="3" valign="top" style="width:63.45pt;border-top:1pt solid windowtext;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in 5.4pt;height:12.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Rack:<span></span></span></b></p>
 </td>
 <td width="92" colspan="3" valign="top" style="width:69.2pt;border-top:1pt solid windowtext;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="85" colspan="2" valign="top" style="width:63.85pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:8pt;font-family:Arial,sans-serif">Tomas
 reguladas <span></span></span></i></b></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:8pt;font-family:Arial,sans-serif">(V N-T&lt; 1 V)</span></i></b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span></span></span></p>
 </td>
 <td width="76" colspan="4" valign="top" style="width:57.3pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="103" colspan="4" valign="top" style="width:77.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:8pt;font-family:Arial,sans-serif;color:black">Requiere Bandeja para la instalación de los equipos:<span></span></span></b></p>
 </td>
 <td width="95" colspan="2" valign="top" style="width:71.2pt;border-top:1pt solid windowtext;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid windowtext;background:white;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:12.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:17.65pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid windowtext;border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:17.65pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Direccionamiento LAN Asignado a la Sede:<span style="color:black"><span></span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:17.65pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:17.65pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:17.6pt">
 <td width="210" colspan="2" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid windowtext;border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:17.6pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Existe algún elemento de red el cual requiere la configuración de
 rutas para alcanzar el segmento LAN de la sede?</span></i></b><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></i></b></p>
 </td>
 <td width="536" colspan="18" valign="top" style="width:402.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:17.6pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:17.6pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:0.05in">
 <td width="210" colspan="2" rowspan="8" valign="top" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid windowtext;border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in 5.4pt;height:0.05in">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif;color:black">Información para Finalizar el Cableado en
 Datacenter Claro</span></i></b><b><i><span lang="ES-CO" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></i></b></p>
 </td>
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:0.05in">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Bunker<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:0.05in">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" rowspan="8" style="width:9pt;padding:0in;height:0.05in">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 </td>
 </tr>
 <tr style="height:3.4pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Rack<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:3.4pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Nombre del Equipo<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:3.4pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Puerto del Equipo<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:5.65pt">
 <td width="127" colspan="5" rowspan="2" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:5.65pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Interfaz<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:5.65pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Fastethernet:<b><span style="color:black"><span></span></span></b></span></p>
 </td>
 </tr>
 <tr style="height:5.6pt">
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:5.6pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Gigaethernet<b><span style="color:black"><span></span></span></b></span></p>
 </td>
 </tr>
 <tr style="height:3.4pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Conector<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:3.4pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Tipo Fibra/UTP<span style="color:black"><span></span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:3.4pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:11.25pt">
 <td width="210" colspan="2" rowspan="3" style="width:157.7pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:rgb(217,217,217);padding:0in;height:11.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:9pt;font-family:Arial,sans-serif;color:black">Datos del Contacto
 Autorizado para recibir los reportes de Gestión Proactiva del CPE</span></i></b><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></i></b></p>
 </td>
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Correo Electrónico</span></i></b><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:11.25pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Envió Quincenal</span></i></b><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr style="height:11.25pt">
 <td width="127" colspan="5" valign="top" style="width:95.2pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif">Envió Mensual</span></i></b><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span></span></span></b></p>
 </td>
 <td width="409" colspan="13" valign="top" style="width:307pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:9pt;font-family:Arial,sans-serif;color:black"><span>&nbsp;</span></span></b></p>
 </td>
 <td width="12" style="width:9pt;padding:0in;height:11.25pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">&nbsp;<span></span></span></p>
 </td>
 </tr>
 <tr>
 <td width="189" style="width:141.65pt;padding:0in"></td>
 <td width="1" style="width:1pt;padding:0in"></td>
 <td width="221" colspan="2" style="width:165.8pt;padding:0in"></td>
 <td width="61" style="width:46.05pt;padding:0in"></td>
 <td width="23" colspan="2" style="width:17.55pt;padding:0in"></td>
 <td width="92" colspan="3" style="width:69.05pt;padding:0in"></td>
 <td width="85" colspan="3" style="width:63.8pt;padding:0in"></td>
 <td width="76" colspan="4" style="width:57.25pt;padding:0in"></td>
 <td width="9" style="width:6.75pt;padding:0in"></td>
 <td width="94" colspan="2" style="width:70.45pt;padding:0in"></td>
 <td width="95" colspan="2" style="width:71.2pt;padding:0in"></td>
 </tr>
 <tr>
 <td width="189" style="width:141.65pt;padding:0in"></td>
 <td width="1" style="width:1pt;padding:0in"></td>
 <td width="209" style="width:156.7pt;padding:0in"></td>
 <td width="12" style="width:9.1pt;padding:0in"></td>
 <td width="61" style="width:46.05pt;padding:0in"></td>
 <td width="11" style="width:8.3pt;padding:0in"></td>
 <td width="12" style="width:9.25pt;padding:0in"></td>
 <td width="30" style="width:22.5pt;padding:0in"></td>
 <td width="50" style="width:37.45pt;padding:0in"></td>
 <td width="12" style="width:9.1pt;padding:0in"></td>
 <td width="73" style="width:54.75pt;padding:0in"></td>
 <td width="1" style="width:1pt;padding:0in"></td>
 <td width="11" style="width:8.05pt;padding:0in"></td>
 <td width="47" style="width:35.25pt;padding:0in"></td>
 <td width="17" style="width:13pt;padding:0in"></td>
 <td width="9" style="width:6.75pt;padding:0in"></td>
 <td width="3" style="width:2.25pt;padding:0in"></td>
 <td width="9" style="width:6.75pt;padding:0in"></td>
 <td width="82" style="width:61.45pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 <td width="83" style="width:62.2pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 </tr>
 <tr>
 <td width="189" style="width:141.75pt;padding:0in"></td>
 <td width="1" style="width:0.75pt;padding:0in"></td>
 <td width="209" style="width:156.75pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 <td width="61" style="width:45.75pt;padding:0in"></td>
 <td width="11" style="width:8.25pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 <td width="30" style="width:22.5pt;padding:0in"></td>
 <td width="50" style="width:37.5pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 <td width="73" style="width:54.75pt;padding:0in"></td>
 <td width="1" style="width:0.75pt;padding:0in"></td>
 <td width="11" style="width:8.25pt;padding:0in"></td>
 <td width="47" style="width:35.25pt;padding:0in"></td>
 <td width="17" style="width:12.75pt;padding:0in"></td>
 <td width="9" style="width:6.75pt;padding:0in"></td>
 <td width="3" style="width:2.25pt;padding:0in"></td>
 <td width="9" style="width:6.75pt;padding:0in"></td>
 <td width="82" style="width:61.5pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 <td width="83" style="width:62.25pt;padding:0in"></td>
 <td width="12" style="width:9pt;padding:0in"></td>
 </tr>
 </tbody></table>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="color:rgb(31,73,125)"><span>&nbsp;</span></span></b></p>
 
 <p style="text-align:justify"><span lang="ES" style="font-family:&quot;Arial&quot;,sans-serif">La
 <b><i>Fecha de Entrega del Servicio MPLS Avanzado con Componente Datacenter Claro<span style="color:#1f497d"> </span>
 </i></b>es <b><i>{{data.reporteInicio.fecha_entrega_ampliacion}}</i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias.</span><span lang="ES" style="font-family:&quot;Arial&quot;,sans-serif">&nbsp;{{!-- {{data.lb_fecha_entrega_servicio --}}
 
 </span></p><p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="color:rgb(31,73,125)"><span>&nbsp;</span></span></b></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">La <b><i>Fecha de inicio de Facturación</i></b> corresponde a la fecha
 en que Claro entrega el Servicio y es aceptado a satisfacción.<span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="color:rgb(31,73,125)"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif">Por favor tenga en cuenta las siguientes recomendaciones:<span></span></span></p>
 <p class="MsoNormal" style="text-align:justify;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES" style="color:rgb(31,73,125)"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span style="color:black"><img src="https://ci4.googleusercontent.com/proxy/-rHhAlnK9ocHMpopUhBs7diVnFJOr35LoeG2kPbwglBAq8DN02tDuzt1j5-qRAUNxNP1KlDIKUn2Wwk5aHfMmG6k86o7NvdffQSdtVy7bqbX47EOl7M-QCmpbDov7R0V3V65tKjxW78yZwWnEQic7dhHjdgjB3Kfoz-djymWGch1UaIPzDy5nH1nvBAx=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/mail_formats/recomendaciones_mpls_avanzado_con_componente_datacenter_claro.png" width="880" height="533" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 832px; top: 3184.33px;"><div id=":xm" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div></span><span lang="ES-CO"><span></span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
 
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif">Nuestro objetivo es
 hacer el traslado del Servicio contratado a satisfacción de sus necesidades,
 por eso es fundamental que usted conozca las etapas básicas<span style="color:rgb(31,73,125)">,</span> el impacto y Plan de Mitigación definido para
 cada una.</span><span lang="ES-CO"></span></p>

 <table border="0" cellspacing="0" cellpadding="0" width="718" style="width:538.25pt;border-collapse:collapse">
 <tbody><tr style="height:29.05pt">
 <td width="444" valign="top" style="width:332.75pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif;color:white">RIESGOS</span></b><span lang="ES-CO"></span></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="274" valign="top" style="width:205.5pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif;color:white">PLAN DE MITIGACIÓN</span></b><span lang="ES-CO"></span></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-CO" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 </tr>
 <tr style="height:29.05pt">
 <td width="444" valign="top" style="width:332.75pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;color:rgb(31,73,125)">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">Atraso en el Traslado por
 Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">.</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif;color:white">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span style="font-size:10pt"><img src="https://ci4.googleusercontent.com/proxy/4xCn0fpi9IIhhA8JW8MlEH7QKHc-ByNH15ePiiatMRr8xAWX2zimIP216FPNjELXRlnrxDslpuX9s2wt1PRvYxoz2h7VMAO_mgeHIlzxxT4ff3NCWWREIG8TVv1dIe09-oxc=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/proceso_traslado_externo/imagenA.png" width="420" height="110" class="CToWUd"></span><span lang="ES-CO"></span></p>
 </td>
 <td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">1.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede
 donde se va a realizar la Instalación.</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">2.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Confirmación de la documentación que debe portar el personal de Claro
 para efectuar las actividades.</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">3.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-CO"></span></p>
 </td>
 </tr>
 <tr style="height:29.05pt">
 <td width="444" valign="top" style="width:332.75pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;color:rgb(31,73,125)">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">Atraso en el Traslado por
 falta de Aprobación de los Costos de la Cotización de Obra Civil.</span></i></b><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;color:rgb(31,73,125)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;</span></i><span style="font-size:10pt"><img src="https://ci5.googleusercontent.com/proxy/x3o_vZGLKB_cYpIelQVQSrVeip1TMEnQhZ7HRSzOjHODlgnGXOlxJqqEAA3af79-V6lWqSZ_j3DHmKg6VNLE_TP2Z46l_YLA__fiGHzZbqnaj8pfQcFrnifHqSw0DyrtplPV=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/proceso_traslado_externo/imagenB.png" width="251" height="118" class="CToWUd"></span><span lang="ES-CO"></span></p>
 </td>
 <td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">&nbsp;</span><span lang="ES-CO"></span></p>
 <p style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">1.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Pre aprobación de <b>Cotización de Obra Civil</b> desde la venta o
 Kickoff.</span></i><span lang="ES-CO"></span></p>
 <p style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">2.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Aprobación de los Costos y el Plano enviado máximo 3 días Calendario
 después de recibida la cotización de Obra Civil</span></i><span lang="ES-CO"></span></p>
 </td>
 </tr>
 <tr style="height:29.05pt">
 <td width="444" valign="top" style="width:332.75pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">Atraso en el Traslado por
 falta de &nbsp;confirmación de la información solicitada</span></i></b><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO" style="font-size:10pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:10pt"><img src="https://ci4.googleusercontent.com/proxy/W09_tGqa_jVUXF8t2iSyYo2mxrC1Kos3_hYJpkXzevQxOXNYM8fqgQD-3pmn1qnvVGWrA15iVYXYVoIFF0ljDG0nQE1wMlAzYEKv1BngbVaq6H69E6PymJ-YWYeFk0LkqaVR=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/proceso_traslado_externo/imagenC.png" width="187" height="117" class="CToWUd"></span><span lang="ES-CO"></span></p>
 </td>
 <td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">&nbsp;</span><span lang="ES-CO"></span></p>
 <p style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">1.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Respuesta a la información solicitada en este correo máximo 8 días
 después de la fecha reportada como inicio de actividades.</span></i><span lang="ES-CO"></span></p>
 </td>
 </tr>
 <tr style="height:29.05pt">
 <td width="444" valign="top" style="width:332.75pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">&nbsp;</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><i><span lang="ES-CO" style="font-size:10pt;font-family:Arial,sans-serif">Atraso en la adecuación de la
 sede con los requisitos mínimos de condiciones eléctricas y ambientales para
 instalar los equipos.</span></i><span lang="ES-CO"></span></p>
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><img src="https://ci6.googleusercontent.com/proxy/W_y0UdlssrqUMOCxLnkNN1CHR2aQ9jXxtPO9SixODVxv_L0OyUb8eCLugCqSBntUsP1sb8BGSF7kydyEGHLCfXEKP0xhfJB9wvHJDtNCU-E1Ve0aSDtqdehYIhwhpPqjqkjE=s0-d-e1-ft#http://clarocorp.zteservices.com/assets/img/proceso_traslado_externo/imagenD.png" width="369" height="126" class="CToWUd"><span lang="ES-CO"></span></p>
 </td>
 <td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;padding:0in 5.4pt;height:29.05pt">
 <p style="margin:0in 0in 6pt 17.4pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">&nbsp;</span><span lang="ES-CO"></span></p>
 <p style="margin:0in 0in 6pt 17.4pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO">1.<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span><i><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Las condiciones de instalación deben estar listas a más tardar el día
 de la <b>Visita de habilitación de Medio.</b></span></i><span lang="ES-CO"></span></p>
 </td>
 </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><span lang="ES-CO"><span>&nbsp;</span></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso de Instalación puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>

 <td width="226" colspan="3" valign="top" style="width:169.7pt;border:1pt solid rgb(192,0,0);background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">INFORMACIÓN CONTACTO<span></span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:none;background:rgb(192,0,0);padding:0in 5.4pt;height:29.05pt">
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 <div class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white">
 <hr size="2" width="100%" align="center">
 </span></b></div>
 <p class="MsoNormal" align="center" style="text-align:center;margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:12pt;font-family:Arial,sans-serif;color:white"><span>&nbsp;</span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 1<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:14.3pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 0.0001pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:<span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in 5.4pt;height:14.3pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1}}</span></span></b></p>{{!-- {{data.ingeniero1 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="151" colspan="2" valign="top" style="width:113pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="161" colspan="2" valign="top" style="width:120.5pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero1_tel}}</span></span></b></p>{{!-- {{data.ingeniero1_tel --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero1_email}}" target="_blank">{{data.reporteInicio.ingeniero1_email}}</a></span></span></b></p>{{!-- {{data.ingeniero1_email}} --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 2<span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2}}</span></span></b></p>{{!-- {{data.ingeniero2 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:white;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero2_tel}}</span></span></b></p>{{!-- {{data.ingeniero2_tel --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);background:white;padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero2_email}}" target="_blank">{{data.reporteInicio.ingeniero2_email}}<wbr></a></span></span></b></p>{{!-- {{data.ingeniero2_email --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="595" colspan="6" valign="top" style="width:446.15pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;background:rgb(217,217,217);padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">NIVEL 3</span></b><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="226" colspan="3" valign="top" style="width:169.7pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES" style="font-size:10pt;font-family:Arial,sans-serif">INGENIERO:</span></b><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span></span></span></b></p>
 </td>
 <td width="369" colspan="3" valign="top" style="width:276.45pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3}}</span></span></b></p>{{!-- {{data.ingeniero3 --}}
 </td>
 </tr>
 <tr style="height:12.5pt">
 <td width="149" valign="top" style="width:111.5pt;border-right:1pt solid rgb(192,0,0);border-bottom:1pt solid rgb(192,0,0);border-left:1pt solid rgb(192,0,0);border-top:none;padding:0in 5.4pt;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif">Teléfono
 Contacto:<span></span></span></b></p>
 </td>
 <td width="163" colspan="3" valign="top" style="width:122pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt 0.25in;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span>{{data.reporteInicio.ingeniero3_tel  }}</span></span></b></p>{{!-- {{data.ingeniero3_tel --}}
 </td>
 <td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:9pt;font-family:Arial,sans-serif">Email:<span></span></span></b></p>
 </td>
 <td width="217" valign="top" style="width:163.05pt;border-top:none;border-left:none;border-bottom:1pt solid rgb(192,0,0);border-right:1pt solid rgb(192,0,0);padding:0in;height:12.5pt">
 <p class="MsoNormal" style="margin:0in 0in 6pt;text-align:justify;font-size:11pt;font-family:Calibri,sans-serif"><b><span lang="ES-MX" style="font-size:10pt;font-family:Arial,sans-serif"><span><a href="mailto:{{data.reporteInicio.ingeniero3_email}}" target="_blank">{{data.reporteInicio.ingeniero3_email}}</a></span></span></b></p>{{!-- {{data.ingeniero3_email --}}
 </td>
 </tr>
 </tbody></table>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%"><b><span style="font-size:9.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Conmutador: Bogotá: 7480000 - 7500300, Cali: 4880000, Medellín: 6041000, B/quilla: 3870000</span></b><span lang="ES-MX" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal"><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">AVISO DE CONFIDENCIALIDAD:
</span></b><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia,
 revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Telmex Colombia S.A está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo
 al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos
 antes mencionados, Telmex Colombia S.A tendrá derecho a los daños y perjuicios que esto le cause.<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span></b><b><span lang="EN-US" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">CONFIDENTIALITY NOTICE:
</span></b><b><span lang="EN-US" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
This e-mail message including attachments, if any, is intended only for the person or entity to which it is addressed and may contain confidential and /or privileged material. Any review, use, disclosure or distribution of such confidential information without
 the written authorization of Telmex Colombia S.A is prohibited. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies of the original message. By receiving this e-mail you acknowledge that any breach by you
 and/or your representatives of the above provisions may entitle Telmex Colombia S.A to seek for damages.</span></b><span lang="EN-US"><u></u><u></u></span></p><div class="yj6qo"></div><div class="adL">
</div></div>
</body>
</html>