<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <div><div class="adM">
</div><p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;line-height:115%">
<span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordial Saludo Señor(a)<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{data.reporteInicio.nombre}}</span></b><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A continuación se remite
</span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;el reporte de Inicio de Actividades para
<b>{{data.reporteInicio.nombre_cliente_val}}&nbsp; </b>con el cual se da inicio al proceso de modificación del Servicio &nbsp;<b><span style="color:#1f497d">{{data.reporteInicio.servicio}}</span></b><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Este documento&nbsp; contiene las definiciones del servicio a modificar y los datos de contacto del Ingeniero encargado
 de la implementación de su servicio. Es de suma importancia que sea revisado y nos retroalimente la información que le solicitamos en el mismo. Si tiene alguna duda o inquietud no dude en contactarnos.&nbsp; Si no está de acuerdo con alguna información contenida
 en este documento es importante que nos haga llegar sus inquietudes ya que el servicio contratado será entregado de acuerdo a la información que describimos a continuación.
<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SERVICIO A MODIFICAR<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span><img width="1065" height="742" id="m_-4416850544002809072Imagen_x0020_3" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.6&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9Co3j02rcAhbrYB5Gs5pjr93QKkrUFnwTcjhSKVGB18lERf5ZR0xz0fI9xy9OmxCKZG0ouQiVNDqb4Io-OEIJtWJvzUSpeaPvy50ZqtEtKE7IFTYhrVtO79SQ&amp;disp=emb" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":1a2" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image001.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1a3" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image001.png en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CARACTERISTICAS DEL SERVICIO CONTRATADO<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<table border="0" cellspacing="0" cellpadding="0" width="762" style="width:571.65pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="283" colspan="3" valign="top" style="width:212.1pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">ENTREGABLE<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="479" colspan="9" valign="top" style="width:359.55pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DISEÑO ORIGINAL<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:16.45pt">
<td width="283" colspan="3" rowspan="29" valign="top" style="width:212.1pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:16.0pt;line-height:115%;color:black"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">COMUNICACIONES UNIFICADAS
<u></u><u></u></span></i></b></p>
<p class="MsoNormal" align="center" style="margin-bottom:10.0pt;text-align:center;line-height:115%;text-autospace:none">
<b><i><span lang="ES" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">PBX ADMINISTRADA</span></i></b><b><i><span lang="ES" style="color:#1f497d"><u></u><u></u></span></i></b></p>
</td>
<td width="479" colspan="9" valign="top">
<p class="MsoNormal" style="line-height:120%;text-autospace:none"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">DESCRIPCIÓN DE LA SOLUCIÓN</span></i></b><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d">:
</span></i></b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">El servicio <b>Comunicaciones Unificadas
<span style="color:#d52b1e">Claro</span></b> &nbsp;es un&nbsp; esquema&nbsp; centralizado en el cual los componentes principales de la solución<span style="color:#1f497d">,</span> aplicaciones residen en los Datacenter de Alta disponibilidad de Claro.</span><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.05pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Dirección Destino<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.05pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">{{data.reporteInicio.direccion}}<u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:8.0pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Cantidad de Extensiones<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.0pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Buzones de Voz<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" rowspan="2" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Hardphones<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
<td colspan="4" style="border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES">Tipo:<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="198" colspan="3" rowspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Softphones<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="123" colspan="2" rowspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
<td colspan="2" style="border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES">PC<u></u><u></u></span></b></p>
</td>
<td colspan="2" style="border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td colspan="2" style="border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES">Celular<u></u><u></u></span></b></p>
</td>
<td colspan="2" style="border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal"><b><span lang="ES" style="color:black"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Diademas<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" rowspan="2" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:13.5pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Arañas de Conferencia<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" rowspan="2" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:</span></b><b><span lang="ES"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:13.5pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:13.5pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="198" colspan="3" rowspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Botoneras<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="158" colspan="4" rowspan="3" valign="top" style="width:118.45pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">Cantidad:</span></b><b><span lang="ES"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="198" colspan="3" rowspan="2" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Incluye Grabación de Voz<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">OTP:&nbsp;&nbsp; __________<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:10.15pt">
<td width="198" colspan="3" rowspan="4" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:10.15pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Incluye LAN Administrada<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES"><u></u>&nbsp;<u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">OTP:&nbsp;&nbsp; __________<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" rowspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:10.15pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="95" colspan="3" valign="top" style="width:70.9pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:10.15pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:10.0pt;color:black">Cantidad SW</span></b><b><span lang="ES" style="font-size:10.0pt"><u></u><u></u></span></b></p>
</td>
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:10.1pt">
<td width="95" colspan="3" valign="top" style="width:70.9pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:10.1pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="font-size:10.0pt">Puertos por SW<u></u><u></u></span></b></p>
</td>
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:10.15pt">
<td width="123" colspan="2" rowspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:10.15pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
<td width="95" colspan="3" rowspan="2" valign="top" style="width:70.9pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:10.15pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">PoE<u></u><u></u></span></b></p>
</td>
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Si: &nbsp;____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:10.1pt">
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">No: ____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:8.25pt">
<td width="198" colspan="3" rowspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Teléfonos Inalámbricos<u></u><u></u></span></i></b></p>
</td>
<td width="123" colspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">SI: ______<u></u><u></u></span></b></p>
</td>
<td width="95" colspan="3" valign="top" style="width:70.9pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:8.25pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Cantidad<u></u><u></u></span></b></p>
</td>
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="123" colspan="2" rowspan="2" valign="top" style="width:92.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:black">No: _____<u></u><u></u></span></b></p>
</td>
<td width="95" colspan="3" rowspan="2" valign="top" style="width:70.9pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">AP Claro<u></u><u></u></span></b></p>
</td>
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Si: &nbsp;____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="63" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">No: ____<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:16.45pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Interfaz de Entrega<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">RJ 45<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr style="height:16.4pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Disponibilidad<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.4pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">99.7 % &nbsp;<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr style="height:16.45pt">
<td width="198" colspan="3" valign="top" style="width:148.85pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#d9d9d9;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES">Equipos a Instalar<u></u><u></u></span></i></b></p>
</td>
<td width="281" colspan="6" valign="top" style="width:210.7pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:16.45pt">
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES">Conversor de Medio + 1 Router &nbsp;+ De acuerdo a Solución Descrita<span style="color:black"><u></u><u></u></span></span></b></p>
</td>
</tr>
<tr>
<td width="127" style="width:95.15pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.2pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="29" style="width:21.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="98" style="width:73.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="83" style="width:62.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="44" colspan="2" style="width:33.1pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" colspan="2" style="width:95.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" colspan="3" style="width:95.2pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="127" style="width:95.15pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="127" style="width:95.2pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="29" style="width:21.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="98" style="width:73.75pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="83" style="width:62.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="17" style="width:12.85pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="27" style="width:20.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="96" style="width:72.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="31" style="width:23.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="35" style="width:26.4pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="28" style="width:21.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="63" style="width:47.55pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">A partir de hoy (<b>XX/XX/XXXX</b>) &nbsp;se da inicio al Proceso de adición de teléfonos<span style="color:#1f497d">
 al</span> Servicio<span style="color:#1f497d">. </span>A continuación se detalla la secuencia de actividades<span style="color:#1f497d">.</span></span><i><u><span lang="ES" style="color:#1f497d"><u></u><u></u></span></u></i></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span><img width="753" height="360" id="m_-4416850544002809072Imagen_x0020_1" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.7&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-iZ2Ggha2I-_dAeYk-g1FOkNAE3b5WsNubp6f7jX4cTZ_ndSZ90wJvIDD1PQobDXS6GQVFQno6hzIUMbpc3uk5v6QaQ8l6P-uDxCRFgxH6K-eeRsYRgv1XA0Q&amp;disp=emb" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":19z" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Descargar" role="button" tabindex="0" aria-label="Descargar el archivo adjunto image002.jpg" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1a0" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Guardar en Drive" role="button" tabindex="0" aria-label="Guardar el archivo adjunto image002.jpg en Drive" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></span><span lang="ES" style="color:#1f497d"><u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">De acuerdo a lo anterior le agradecemos nos confirme la siguiente información:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="834" style="width:625.2pt;border-collapse:collapse">
<tbody>
<tr style="height:30.5pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">INFORMACIÓN A CONFIRMAR<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="521" colspan="9" valign="top" style="width:390.6pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:30.5pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">DATOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:6.1pt">
<td width="834" colspan="12" valign="top" style="width:625.2pt;border:solid #c00000 1.0pt;border-top:none;background:#bfbfbf;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">CATEGORIAS PERMISOS PARA LAS LLAMADAS<u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;border-top:none;background:#eeece1;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Permisos de llamadas Salientes<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nota: Es de suma Importancia que nos confirme si requiere la restricción de Permisos de Marcación.&nbsp;En caso
 de que no confirme el servicio se entregara solo con permisos habilitados para llamadas Locales.</span></u></i><i><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="521" colspan="9" valign="top">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Restringir llamadas<u></u><u></u></span></b></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">* Documente “SI” si desea restringir las salidas de la Larga Distancia Nacional, Internacional, Móviles
 y Local Extendida. Documente “NO” si desea dejar los permisos de marcación abiertos (es decir permitir la salida de llamadas a estos destinos).</span></u></i><b><span lang="ES" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Nacional<u></u><u></u></span></i></b></p>
</td>
<td width="521" colspan="9" rowspan="4" valign="top" style="width:390.6pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Larga Distancia Internacional<u></u><u></u></span></i></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Móviles<u></u><u></u></span></i></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="313" colspan="3" valign="top" style="width:234.6pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal"><b><i><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Local Extendida<u></u><u></u></span></i></b></p>
</td>
</tr>
<tr style="height:6.1pt">
<td width="834" colspan="12" valign="top" style="width:625.2pt;border:solid #c00000 1.0pt;border-top:none;background:#a6a6a6;padding:0cm 5.4pt 0cm 5.4pt;height:6.1pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">INFORMACIÓN IMPORTANTE POR USUARIO DE LA PBX ADMINISTRADA<u></u><u></u></span></b></p>
<p class="MsoNormal"><span lang="ES">Por favor diligencie el Archivo Excel Anexo, la información que se solicita por usuario es la siguiente:<span style="color:#1f497d"><u></u><u></u></span></span></p>
</td>
</tr>
<tr style="height:4.7pt">
<td width="160" valign="top" style="width:120.1pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Ciudad</span></i></b><b><i><u><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
<td width="100" colspan="2" valign="top" style="width:75.35pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Sede<u><u></u><u></u></u></span></i></b></p>
</td>
<td width="132" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
<td width="375" colspan="7" valign="top" style="width:281.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:4.7pt">
<p class="MsoNormal" style="text-align:justify"><b><i><u><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></b></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="160" rowspan="2" valign="top" style="width:120.1pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Extensión Asignada</span></i></b><b><i><u><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="66" rowspan="2" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
</td>
<td width="100" colspan="2" rowspan="2" valign="top" style="width:75.35pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Usuario<u><u></u><u></u></u></span></i></b></p>
</td>
<td width="132" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nombre:<u></u><u></u></span></i></b></p>
</td>
<td width="87" colspan="2" rowspan="2" valign="top" style="width:65.25pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Extensión Móvil<u></u><u></u></span></i></b></p>
</td>
<td width="60" valign="top">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SI:<u></u><u></u></span></i></p>
</td>
<td width="96" colspan="2" rowspan="2" valign="top" style="width:72.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Grupo de
<u></u><u></u></span></i></b></p>
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Captura<u><u></u><u></u></u></span></i></b></p>
</td>
<td width="131" colspan="2" valign="top" style="width:98.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SI:<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:6.75pt">
<td width="132" valign="top">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Apellido:<u></u><u></u></span></i></b></p>
</td>
<td width="60" valign="top">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">NO:<u></u><u></u></span></i></p>
</td>
<td width="131" colspan="2" valign="top" style="width:98.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:6.75pt">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">NO:<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:9.75pt">
<td width="160" rowspan="2" valign="top" style="width:120.1pt;border:solid #c00000 1.0pt;border-top:none;background:#f2f2f2;padding:0cm 5.4pt 0cm 5.4pt;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Buzón de Voz</span></i></b><b><i><u><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></u></i></b></p>
</td>
<td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">SI:<u></u><u></u></span></i></p>
</td>
<td width="100" colspan="2" rowspan="2" valign="top" style="width:75.35pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:#f2f2f2;padding:0cm 0cm 0cm 0cm;height:9.75pt">
</td>
<td width="279" colspan="4" rowspan="2" valign="top" style="width:209.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Tipo de Teléfono<u></u><u></u></span></i></b></p>
</td>
<td width="96" colspan="2" rowspan="2" valign="top" style="width:72.1pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Permisos de Marcación<u></u><u></u></span></i></b></p>
</td>
<td width="131" colspan="2" rowspan="2" valign="top" style="width:98.55pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Extension, solo ext<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">local:extensión, local<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">celular, extensión, local cel<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">nacional:ext, local, cel, nal<u></u><u></u></span></i></p>
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">internal; todas<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:9.75pt">
<td width="66" valign="top" style="width:49.6pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 0cm 0cm 0cm;height:9.75pt">
<p class="MsoNormal" style="text-align:justify"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">NO:<u></u><u></u></span></i></p>
</td>
</tr>
<tr>
<td width="313" colspan="3" style="width:234.6pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="210" colspan="3" style="width:157.35pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="122" colspan="3" style="width:91.85pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="85" colspan="2" style="width:63.85pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="103" style="width:77.55pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
<tr>
<td width="160" style="width:120.1pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="66" style="width:49.6pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="87" style="width:64.9pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="14" style="width:10.45pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="132" style="width:98.9pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="64" style="width:48.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="23" style="width:17.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="60" style="width:45.35pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="39" style="width:29.25pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="57" style="width:42.85pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="28" style="width:21.0pt;padding:0cm 0cm 0cm 0cm"></td>
<td width="103" style="width:77.55pt;padding:0cm 0cm 0cm 0cm"></td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de Entrega de su servicio</i></b> &nbsp;es <b><i>XX/XX/XXXX</i></b> y está sujeta a cambios derivados del cumplimiento de las actividades necesarias para la adición de los equipos.&nbsp;
<span style="color:#1f497d"><u></u><u></u></span></span></p>
<p class="MsoNormal" style="text-align:justify;text-autospace:none"><span lang="ES" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">La
<b><i>Fecha de inicio de Facturación</i></b> corresponde a la fecha en que Claro entrega el Servicio y es aceptado a satisfacción.<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><i><u><span lang="ES" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1f497d"><u></u><span style="text-decoration:none">&nbsp;</span><u></u></span></u></i></p>
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Nuestro objetivo es hacer la entrega del Servicio contratado a satisfacción de su solución, por eso es fundamental que usted conozca las etapas básicas de la instalación
 del Servicio y el impacto y Plan de Mitigación definido para cada una.</span><span style="color:#1f497d"><u></u><u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="718" style="width:538.25pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">RIESGOS<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="274" valign="top" style="width:205.5pt;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">PLAN DE MITIGACIÓN<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la instalación por Inconvenientes de &nbsp;Acceso al Predio en las Visitas Programadas</span></i></b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">.<u></u><u></u></span></i></p>
<p class="MsoNormal"><i><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt"><img width="420" height="110" id="m_-4416850544002809072Imagen_x0020_5" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.1&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-DLtlmktca-IncOsD-w9ApbW8mcYxR-TNGilKXuQnv9YUkt45jmYFxjBdZ7J2HyDdh-fqkUoid7pyzse7XNIvmp9CUpqrvh7uKt3PxilSahZa1VLyTLh8Ih9U&amp;disp=emb" alt="cid:image008.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Gestión temprana de los permisos de acceso a Zonas Comunes en la sede donde se va a realizar la Instalación.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Confirmación de la documentación que debe portar el personal de Claro para efectuar las actividades.<u></u><u></u></span></i></p>
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Confirmación de horario de trabajos permitidos para Zonas Comunes.</span></i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de Aprobación de los Costos de la Cotización de Obra Civil.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;color:#1f497d">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span></i><span style="font-size:10.0pt"><img width="251" height="118" id="m_-4416850544002809072Imagen_x0020_4" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.2&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-6a6yB5o3QHCOxjqh-n5C7cgxmW7DnhOKNw_72-N795eHRJpJD5sMTY0odZuA-fexaNrxyP_KhartWdrK6WEehk3XG_5yD_XNLX2tEGAF0t9MRL874xP6TJFk&amp;disp=emb" alt="cid:image009.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Pre aprobación de
<b>Cotización de Obra Civil</b> desde la venta o Kickoff.<u></u><u></u></span></i></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><u></u><i><span lang="ES-MX">Aprobación de los Costos y el Plano enviado máximo 3 días Calendario después de recibida la cotización de Obra Civil<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><b><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en Instalación por falta de &nbsp;envió de la información técnica de la sede para la configuración del servicio.<u></u><u></u></span></i></b></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><span style="font-size:10.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<wbr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="187" height="117" id="m_-4416850544002809072_x0000_i1033" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.3&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8OrEiiuOlj1ZDaEoawQsM_kCV6PkwFpcFTTyMvmUTvDPC6-7FsFHQWB1WUlvmEmO898IcSZTcLLqnoD8RSFSj4Qx8y27CrDg5X1HdlRl0bKzQgcQq_P5a8ER8&amp;disp=emb" alt="cid:image010.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;color:#1f497d"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Respuesta a la información solicitada en este correo máximo 8 días después de la fecha reportada como inicio de actividades.<u></u><u></u></span></i></p>
</td>
</tr>
<tr style="height:29.05pt">
<td width="444" valign="top" style="width:332.75pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></i></p>
<p class="MsoNormal"><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Atraso en la adecuación de la sede con los requisitos mínimos de condiciones eléctricas y ambientales para instalar los equipos.<u></u><u></u></span></i></p>
<p class="MsoNormal"><span><img width="369" height="126" id="m_-4416850544002809072_x0000_i1034" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.4&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-QgQ2y88QO0i5sovIyekS0xxVh8qk7_QlbTMq6FQBoJQTcOfKiS8KaFsFk0rVkOBjmuk3bFUNdeis360YH2FzChSrgY7ADT2l4-bAMQvdZd_TJZkOp6Je8B30&amp;disp=emb" alt="cid:image012.jpg@01D1E9B5.8BACE010" data-image-whitelisted="" class="CToWUd"></span><i><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></i></p>
</td>
<td width="274" valign="top" style="width:205.5pt;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p style="margin-right:0cm;margin-bottom:6.0pt;margin-left:17.4pt;text-align:justify;text-autospace:none">
<u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span>1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><u></u><i><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Las condiciones de instalación deben estar listas a más tardar el día de la
<b>Visita de habilitación de Medio.</b><u></u><u></u></span></i></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u>&nbsp;<u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Durante todo el Proceso de Instalación puede contactar a:<u></u><u></u></span></p>
<p class="MsoNormal" style="text-align:justify"><span lang="ES-MX" style="color:#1f497d"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="595" style="width:446.15pt;border-collapse:collapse">
<tbody>
<tr style="height:29.05pt">
<td width="330" valign="top" style="width:247.7pt;border:solid #c00000 1.0pt;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">INFORMACIÓN CONTACTO<u></u><u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
</td>
<td width="265" valign="top" style="width:7.0cm;border:solid #c00000 1.0pt;border-left:none;background:#c00000;padding:0cm 5.4pt 0cm 5.4pt;height:29.05pt">
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></b></p>
<div class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white">
<hr size="2" width="100%" align="center">
</span></b></div>
<p class="MsoNormal" align="center" style="text-align:center"><b><span lang="ES" style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><u></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:14.3pt">
<td width="330" valign="top" style="width:247.7pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:14.3pt">
<p class="MsoNormal"><b><span lang="ES">INGENIERO IMPLEMENTACIÓN</span></b><b><span lang="ES" style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u></u><u></u></span></b></p>
</td>
<td width="265" valign="top" style="width:7.0cm;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:14.3pt">
<p class="MsoNormal" style="margin-bottom:6.0pt;text-align:justify;text-autospace:none">
<b><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u>{{data.reporteInicio.ingeniero1}}</u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:12.5pt">
<td width="330" valign="top" style="width:247.7pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt">
<p class="MsoNormal"><b><span lang="ES">TELEFONOS DE CONTACTO<u></u><u></u></span></b></p>
</td>
<td width="265" valign="top" style="width:7.0cm;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<b><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u>{{data.reporteInicio.ingeniero1_tel}}</u>&nbsp;<u></u></span></b></p>
</td>
</tr>
<tr style="height:12.5pt">
<td width="330" valign="top" style="width:247.7pt;border:solid #c00000 1.0pt;border-top:none;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt">
<p class="MsoNormal"><b><span lang="ES">EMAIL <u></u>
<u></u></span></b></p>
</td>
<td width="265" valign="top" style="width:7.0cm;border-top:none;border-left:none;border-bottom:solid #c00000 1.0pt;border-right:solid #c00000 1.0pt;background:white;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt">
<p class="MsoNormal" style="margin-right:0cm;margin-bottom:6.0pt;margin-left:18.0pt;text-align:justify;text-autospace:none">
<b><span lang="ES-MX" style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><u><a href="mailto:{{data.reporteInicio.ingeniero1_email}}" target="_blank">{{data.reporteInicio.ingeniero1_email}}</a></u>&nbsp;<u></u></span></b></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal" style="text-align:justify"><b><span lang="ES-MX"><u></u>&nbsp;<u></u></span></b></p>
<p class="MsoNormal" style="margin-bottom:10.0pt;line-height:115%"><span lang="ES-MX" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Cordialmente<u></u><u></u></span></p>
<p class="MsoNormal" style="margin-bottom:12.0pt"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u>&nbsp;<u></u></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="800" style="width:600.0pt">
<tbody>
<tr style="height:92.25pt">
<td width="120" style="width:90.0pt;padding:0cm 0cm 0cm 0cm;height:92.25pt">
<p class="MsoNormal"><u></u><a href="http://www.claro.com.co/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.claro.com.co/&amp;source=gmail&amp;ust=1576354411493000&amp;usg=AFQjCNGymi2PQzYVjLKlqBFEcl6evYfOMQ"><img border="0" width="96" height="96" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=6ca568bdc2&amp;attid=0.1.0.8&amp;permmsgid=msg-a:r8544859348384636576&amp;th=16f00e4b83208946&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_VmGU5UhQP02iqCQMIR-OTXDYfNyRHhTF64nr5otrefgWMaIWqfULAKIpHBAo-wsWq-_UW5VAKeO1YsyJ3oKrtngr2wkiAsoLaT6hAKSZyag465uoSlPFAOWs&amp;disp=emb" align="left" alt="Descripción: https://webmail.telmexla.com.co/resources/images/logo.png" data-image-whitelisted="" class="CToWUd"></a><u></u><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u><u></u></span></p>
</td>
<td style="padding:0cm 0cm 0cm 0cm;height:92.25pt">
<p class="MsoNormal" style="margin-bottom:12.0pt"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Ingeniero Im<span style="color:black">plementación Estándar</span></span></b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"><br>
</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Telmex Colombia S.A.</span></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Conmutador: Bogotá: 7480000 - 7500300, Cali: 4880000, Medellín: 6041000, B/quilla: 3870000<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
AVISO DE CONFIDENCIALIDAD: </span></b><b><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
Este correo electrónico, incluyendo en su caso, los archivos adjuntos al mismo, pueden contener información de carácter confidencial y/o privilegiada, y se envían a la atención única y exclusivamente de la persona y/o entidad a quien va dirigido. La copia,
 revisión, uso, revelación y/o distribución de dicha información confidencial sin la autorización por escrito de Telmex Colombia S.A está prohibida. Si usted no es el destinatario a quien se dirige el presente correo, favor de contactar al remitente respondiendo
 al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. Mediante la recepción del presente correo usted reconoce y acepta que en caso de incumplimiento de su parte y/o de sus representantes a los términos
 antes mencionados, Telmex Colombia S.A tendrá derecho a los daños y perjuicios que esto le cause.<br>
</span></b><b><span style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e"><br>
</span></b><b><span lang="EN-US" style="font-size:7.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#d52b1e">CONFIDENTIALITY NOTICE:
</span></b><b><span lang="EN-US" style="font-size:8.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#adafaf"><br>
This e-mail message including attachments, if any, is intended only for the person or entity to which it is addressed and may contain confidential and /or privileged material. Any review, use, disclosure or distribution of such confidential information without
 the written authorization of Telmex Colombia S.A is prohibited. If you are not the intended recipient, please contact the sender by reply e-mail and destroy all copies of the original message. By receiving this e-mail you acknowledge that any breach by you
 and/or your representatives of the above provisions may entitle Telmex Colombia S.A to seek for damages.</span></b><span lang="EN-US"><u></u><u></u></span></p><div class="yj6qo"></div><div class="adL">
</div></div>
</body>
</html>