.divForButons {
	display: flex;
	justify-content: space-around;
	width: 38%;
	align-items: center;
}

.divInicio {
	margin-left: 143px;
}

.divCKList {
	margin-left: 57%;
}

.divForTittle {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: initial;
	padding: 1rem;
	background-color: white;
	z-index: 2;
	width: 100%;
	position: absolute;
	border-bottom: 1px solid #aaa;
}
.containerForm {
	display: flex;
	margin-left: 7%;
	margin-top: 3%;
}
.contentInfo{
	margin:100px 0;
}
