<html>
    <head></head><body
        style="margin: 0;  padding: 0;"
    >
        <div style="
            width: 100%;
            flex-flow: column;
            display: flex;
            justify-content: center;
        ">
            <table width="100%" cellspacing="0" cellpadding="0" style=" background-color: #eee;">
                <tbody>
                    <tr>
                        <td>
                            <table align="center" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr bgcolor="#008fd5" style="text-align:center;">
                                        <td style="padding: 10px 10px; align-items: center;">
                                            <span style="font-family: Arial, Helvetica, sans-serif;font-size: 50px;color: #FFFFFF; width: 300px; height: 230px;">
                                                ZOLID
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-bottom: 50px;">
                                                            <center>
                                                                <img src="https://telmex.oss-ap-southeast-1.aliyuncs.com/import/updated.png" alt="Data Base Icon" width="100" height="100" style="display: block; margin: auto;">
                                                            </center>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <b style="font-family: Arial, Helvetica, sans-serif;font-size: 25px; color: #333;">
                                                                Cargue finalizado
                                                            </b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <span style="font-family: Arial, Helvetica, sans-serif;font-size: 16px; color: #333;">
                                                                los datos subidos se han actualizado correctamente.
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>